<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKQ5F65G');</script>
<!-- End Google Tag Manager -->

  <title>Aero Club Nitte</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo_aero.png" rel="icon">
  <link href="../img/logo_aero.png" rel="aero_logo">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
<style>
.whatsapp-link {
  color: #45beff !important;
}
/* Pop-up styles */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
      /* Ensure the entire pop-up is scrollable */
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 600px;
      max-height: 80vh;
      /* Set a maximum height for the content */
      overflow-y: auto;
      /* Make the content scrollable */
    }

    .popup h2 {
      color: #333;
    }

    .popup p {
      color: #555;
    }

    .popup ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .popup button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button:hover {
      background-color: #555;
    }

    /* Close button style */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #555;
      cursor: pointer;
    }

    .close:hover {
      color: #333;
    }
.portfolio-info {
  position: relative;
  cursor: pointer;
}

.portfolio-info .tooltip {
  position: relative;
  bottom: 0; /* Set bottom to 0 */
  left: 50%;
  transform: translate(-50%, 7px); /* Adjust the second value to set the distance between the image and tooltip */
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 9999;
  max-width: 800px;
  max-height: 500px;
  overflow: auto;
}



.portfolio-info:hover .tooltip {
  display: block;
  opacity: 1;
  overflow: auto;
}
@media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-md-6 {
      order: 2;
      text-align: center;
    }

    .col-md-6 .text-md-right {
      text-align: center;
      margin-top: 30px; /* Adjust top margin as needed for more space */
    }
  }
.col-md-6 {
    padding-top: 20px; /* Adjust the value according to your preference */
  }



</style>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKQ5F65G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container_new">

      <div class="logo float-left" style="height: max-content;">


        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/home"><img src="../img/logo_aero.png" alt="" style=" height: 5vh; width: 5vh;" class="img-fluid"></a>
      </div>



      <nav class="nav-menu float-right d-none d-lg-block ">

        <ul>
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achievements <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#2024" class="whatsapp-link">2024</a></li>
              <li><a href="#2023" class="whatsapp-link">2023</a></li>
              <li><a href="#2022" class="whatsapp-link">2022</a></li>
              <li><a href="#2019" class="whatsapp-link">2019</a></li>
              <li><a href="#2018" class="whatsapp-link">2018</a></li>
              
            </ul>
          </li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/vayurvya">Vayurvya</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join Us <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="https://chat.whatsapp.com/FxJah3YRcNlKcBUyrEoWlP" class="whatsapp-link">Aero Club Nitte</a></li>
      <li><a href="https://chat.whatsapp.com/JMdz3P5vWl31e6HPgweBZR" class="whatsapp-link">Aero Club Nitte Alumni</a></li>
    </ul>
  </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container_new">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Achievements</h1>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Achievements</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Services Section ======= -->
  <section id="2024">  
    <section class="features">
        <div class="container_new">

            <h1 class="section-title" style="font-size: 3vh; color: rgba(1, 1, 66, 0.887);font-style: 'Montserrat' ; text-align:left ; ">
                <b>2024</b> 
               </h1>

         <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div class="img-blur">
                      <img src="../img/IIT_Kharagpur.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                    </div>
                  </div>
      
                  <div class="col-md-6 pt-5">
                    <h1><strong>Boeing IIT National Aeromodelling Competition-Kharagpur </strong></h1>
                    <p >Aeroclub Nitte has added another noteworthy accomplishment to its repertoire by securing the 1st, 2nd, and 3rd prizes at the prestigious Boeing IIT National Aeromodelling competition hosted at IIT Kharagpur in the academic year 2023-2024. This outstanding feat not only strengthens our standing but also propels three of our teams to qualify for the finals. It signifies Aeroclub Nitte's steadfast dedication to excellence in aeromodelling at a national level, marking a significant milestone in our list of achievements.
                     
                           
        
                                         </p>
                    
                  </div>
                </div>
              </div>







               <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div class="img-blur">
                      <img src="../img/IIT_Madras2024.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                    </div>
                  </div>
      
                  <div class="col-md-6 pt-5">
                    <h1><strong>Boeing IIT National Aeromodelling Competition </strong></h1>
                    <p >Aeroclub Nitte has left an indelible mark in the prestigious Boeing IIT National Aeromodelling competition
                         during the current academic year 2023-2024. Our exceptional journey unfolded at the Zonals 
                         held in IIT Mumbai and IIT Madras, with notable achievements in both arenas.<br><br>
                     
                            IIT Mumbai - 3rd Position<br>
                            IIT Madras - 1st Position<br>
                            IIT Madras - 2nd Position<br><br>
                          
                          This remarkable achievement not only solidifies our presence but has also propelled three of our teams to qualify for the finals. It underscores Aeroclub Nitte's 
                          unwavering commitment to excellence in aeromodelling on a national stage, marking a significant milestone in our achievements
        
                                         </p>
                    
                  </div>
                </div>
              </div>


              <!-- IIT BOMBAY -->
              <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div class="img-blur">
                      <img src="../img/IIT_Bombay2024.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                    </div>
                  </div>
      
                  <div class="col-md-6 pt-5">
                    <h1><strong>Boeing IIT National Aeromodelling Competition- IIT Bombay </strong></h1>
                    <p >Aeroclub Nitte has added another noteworthy accomplishment to its repertoire by securing the <b>3rd place</b> at the prestigious Boeing IIT National Aeromodelling Competition hosted at IIT Bombay in the academic year 2023-2024. This outstanding achievement not only enhances our club's reputation but also highlights the remarkable skill and dedication of our team. It signifies Aeroclub Nitte's steadfast commitment to excellence in aeromodelling on a national stage, marking yet another significant milestone in our growing list of achievements.
        
                                         </p>
                    
                  </div>
                </div>
              </div>
  </section> 
  

            <!-- <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div class="img-blur">
                      <img src="../img/saeddc.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
                    </div>
                  </div>
      
                  <div class="col-md-7 pt-4">
                    <h1><strong>SAE drone design Competition - 2023</strong></h1>
                    <p >
                        Collaboratively with a committed team of 10 individuals across interdisciplinary courses and with the consistent support of the tean, we have secured AIR 1,
                        claiming the top position in a prestigious SAE drone design competition. Our outstanding aircraft stood out as the exclusive contender
                        capable of carrying a payload exceeding 2 kg. Notably, We take immense pride in being the sole female pilot to achieve this remarkable feat in the competition.
                    </p>
                    
                  </div>
                </div>
              </div> -->



  <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">


                <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/IIT_Madras2024.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION MADRAS - 2024</h3>
                <p class="font-italic">
                  The competition is designed to provide a unified national platform for students interested in aerospace
                  and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                  promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                  careers in aerospace engineering. </p>
                <ul>
                  <li><i class="icofont-check"></i>1st place </li>
                  <li><i class="icofont-check"></i>2nd place </li>
                 
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div>
  
   -->
  <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/IIT_Bombay2024.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION BOMBAY - 2023</h3>
                <p class="font-italic">
                  The competition is designed to provide a unified national platform for students interested in aerospace
                  and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                  promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                  careers in aerospace engineering. </p>
                <ul>
                
                  <li><i class="icofont-check"></i>3rd place </li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div>
  
  
   -->
  
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/wrightflight2.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                    alt="">
                </div>
              </div>
  
  
  
              <div class="col-md-7 pt-4">
                <h3>WRIGHT FLIGHT - 2023</h3>
                <p class="font-italic">
                  It is an aeromodelling event where the planes have to perform various aerial stunts and pass through
                  limbo ,which was held at NIT Karnataka.
                </p>
                <ul>
  
                  <li><i class="icofont-check"></i>1st place</li>
                  <br>
  
                </ul>
              </div>
            </div>
          </div>
   -->
  
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/saeddc.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>SAE DDC INDIA - 2023</h3>
                <p class="font-italic">
                  The micro class division of drone development challenge.
                </p>
                <ul>
                  <li><i class="icofont-check"></i>AIR 1</li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div> -->
  
  
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/boeingfinals.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                    alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION FINALS - 2023</h3>
                <p class="font-italic">
                  IIT National Aeromodelling Competition for students in India is sponsored by Boeing, and in
                  collaboration with IIT Bombay, IIT Kanpur, IIT Kharagpur, IIT Madras and RVCE.The competition is
                  launched with the vision to provide a unified national platform for students interested in aerospace and
                  related engineering disciplines - to demonstrate their aero-modeling expertise.
                </p>
                <ul>
  
                  <li><i class="icofont-check"></i>2nd place </li>
                  <li><i class="icofont-check"></i>3rd place </li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div>
   -->
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/team/iit roorkee.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                    alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>COGNIZANCE</h3>
                <p class="font-italic">
                  An aeromodelling and multi-rotor competition where the planes were supposed to peform manouevers and
                  multi-rotors had to complete missions which was held in IIT ROORKEE.
                </p>
                <ul>
                  <li><i class="icofont-check"></i>2nd place in FlightFury-2023</li>
                  <li><i class="icofont-check"></i>3rd place in AeroHelix-2023</li>
                  <br>
  
                </ul>
              </div>
            </div>
          </div>
   -->
  
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/IITKANPUR.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION KANPUR - 2023</h3>
                <p class="font-italic">
                  The competition is designed to provide a unified national platform for students interested in aerospace
                  and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                  promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                  careers in aerospace engineering. </p>
                <ul>
                  <li><i class="icofont-check"></i>1st place </li>
                  <li><i class="icofont-check"></i>2nd place </li>
                  <li><i class="icofont-check"></i>3rd place </li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div> -->
  
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/IITM.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION MADRAS - 2023</h3>
                <p class="font-italic">
                  The competition is designed to provide a unified national platform for students interested in aerospace
                  and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                  promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                  careers in aerospace engineering.
                <ul>
  
                  <li><i class="icofont-check"></i>2nd place </li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div> -->
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/iitbombay.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION BOMBAY - 2022</h3>
                <p class="font-italic">
                  The competition is designed to provide a unified national platform for students interested in aerospace
                  and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                  promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                  careers in aerospace engineering. </p>
                <ul>
  
                  <li><i class="icofont-check"></i>2nd place </li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div> -->
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/wrightflight1.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>AEROPHILIA</h3>
                <p class="font-italic">
                  A aeromodelling event where the planes have to perform manouevering ,which was held at Sahyadri College
                  Of Engineering and Mangagement.
                </p>
                <ul>
                  <li><i class="icofont-check"></i>1st place and 2nd place in the year 2022</li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div>
   -->
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/wrightflight.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                    alt="">
                </div>
              </div>
  
  
  
              <div class="col-md-7 pt-4">
                <h3>WRIGHT FLIGHT - 2022</h3>
                <p class="font-italic">
                  It is an aeromodelling event where the planes have to perform various aerial stunts and pass through
                  limbo ,which was held at NIT Karnataka.
                </p>
                <ul>
                  <li><i class="icofont-check"></i>2nd place</li>
                  <li><i class="icofont-check"></i>3rd place</li>
   <br>
  
                </ul>
              </div>
            </div>
          </div> -->

          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/sae2.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>SAE ADC INDIA - 2022</h3>
                <p class="font-italic">
                  The micro class division of SAEISS aero design challenge.
  
                </p>
                <ul>
                  <li><i class="icofont-check"></i>AIR 2 in SAE ADC - 2022</li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div> -->
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/sae5.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>SAE INDIA - 2019</h3>
                <p class="font-italic">
                  The micro class division of SAEISS aero design challenge.
                </p>
                <ul>
                  <li><i class="icofont-check"></i>Participated in Virtual Aerodesign Contest in 2021</li>
                  <li><i class="icofont-check"></i>AIR 5 in SAE ADC - 2019</li>
  
                  <br>
  
                </ul>
              </div>
            </div>
          </div> -->
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/boeing4.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                </div>
              </div>
  
              <div class="col-md-7 pt-4">
                <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION</h3>
                <p class="font-italic">
                  The competition is conducted in IIT Bombay, IIT Chennai, IIT Kharagpur, IIT Kanpur and IIT Delhi.
                </p>
                <ul>
                  <li><i class="icofont-check"></i>1st runner-up at IIT Kanpur in 2016-17</li>
                  <li><i class="icofont-check"></i>Winner and 1st runner-up at IIT Kharagpur in 2017-18</li>
                  <li><i class="icofont-check"></i>Top 30 at IIT Bombay in 2017-18</li>
                  <li><i class="icofont-check"></i>5th place at IIT Madras in 2018-19</li>
                  <li><i class="icofont-check"></i>4 teams in top 30 at IIT Chennai in 2018-19</li>
                  <li><i class="icofont-check"></i>5th and 6th place at IIT Chennai in 2019-20</li>
  
  
  
                  <br>
                </ul>
              </div>
            </div>
          </div> -->
  
  
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="350">
              <div class="col-md-5">
                <div class="img-blur">
                  <img src="../img/mit_fest1.jpg" class="img-fluid" alt="">
                </div>
              </div>
  
  
              <div class="col-md-7 pt-5">
                <h3>SKY-RUSH</h3>
                <p class="font-italic">National level aeromodelling competition held at Techtatva , MIT , Manipal. </p>
                <ul>
                  <li><i class="icofont-check"></i>1st place in 2019-20</li>
                  <br>
                </ul>
              </div>
            </div>
          </div>
   -->
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="350">
              <div class="col-md-5">
  
                <img src="../img/aicte.jpg" style="width: 600px; height: 350px;" class="img-fluid" alt="">
              </div>
  
  
  
              <div class="col-md-7 pt-5">
                <h3>AICTE-SPICES SANCTION 2021-22</h3>
                <p class="font-italic">The club has received Rs. 1,00,000 as Grant-in-Aid under AICTE-SPICES for the year
                  2021-22. This fund will be utilized for conducting varoius activities of the academic year 2021-22.</p>
                <br>
                <ul>
  
                </ul>
              </div>
            </div>
          </div>
   -->
          <!-- <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="350">
              <div class="col-md-5">
               
                <img src="../img/nain.jpeg" style="width: 600px; height: 350px;" class="img-fluid" alt="">
              </div>
      
  
  
              <div class="col-md-7 pt-5">
                <h3>NEW AGE INNOVATION NETWORK - NMAMIT</h3>
                <p class="font-italic">A unit of Karnataka Innovation Technology Society (KITS), Government of Karnataka.
                </p>
                <br>
                <p>Till now 4 project ideas have got funding upto Rs. 3,00,000 each</p>
                <ul>
                  <li><i class="icofont-check"></i> HAAPS (High Altitude Aernautical Platform Station)</li>
                  <li><i class="icofont-check "> </i> Aerial Crop Yield Estimator</li>
                  <li><i class="icofont-check "> </i> Aerial Crop Health Monitoring System</li>
                  <li><i class="icofont-check "></i> Aerial Pesticide Sprayer</li>
                  <br>
  
                </ul>
              </div>
            </div>
          </div> -->
  
  
  
        </div>
  
  
      </section><!-- End Features Section -->

  <br>

<section id="2023">
      <section class="features">
        <div class="container_new">
       
            <h1 class="section-title" style="font-size: 3vh; color: rgba(1, 1, 66, 0.887);font-style: 'Montserrat' ; text-align:left ; ">
                <b>2023</b> 
               </h1>
               <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div>
                      <img src="../img/wrightflight2.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                        alt="">
                    </div>
                  </div>
      
      
      
                  <div class="col-md-6 pt-5">
                    <h3><strong>Wright Flight</strong></h3>
                    <p class=>
                        In the challenging domain of the Wright Flight Technical Aeromodelling and Flying Competition at NITK Surathkal,
                         our team showcased remarkable precision in executing maneuvers and aerial stunts.
                          Overcoming obstacles with finesse, we are thrilled to announce our team's triumph in securing the prestigious Rank 
                          1 in the event. This noteworthy accomplishment not only highlights our technical 
                          prowess but also emphasizes our unwavering commitment to excellence in aeromodelling. 
                          It is a source of immense pride for the entire team, symbolizing our dedication and achievements in this dynamic field.
                    </p>
                    
                </div>
                </div>
              </div>

               <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div class="img-blur">
                      <img src="../img/saeddc.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
                    </div>
                  </div>
                 
      
                  <div class="col-md-6 pt-5">
                    <h1><strong>SAE drone design Competition </strong></h1>
                    <p>AIR 1</p>
                    <p >
                        Collaboratively with a committed team of 10 individuals across interdisciplinary courses and with the consistent support of the team, we have secured rank 1,
                        claiming the top position in a prestigious SAE drone design competition. Our outstanding aircraft stood out as the exclusive contender
                        capable of carrying a payload exceeding 2 kg. Notably, We take immense pride in being the sole female pilot to achieve this remarkable feat in the competition.
                    </p>
                    
                  </div>
                </div>
              </div>


              <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/boeingfinals.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                    alt="">
                </div>
              </div>
  
              <div class="col-md-6 pt-4">
                <h1><strong>Boeing IIT National Aeromodelling Competition</strong> </h1>
                <p >
                    The year 2022-2023 stands as a momentous chapter for the Aeroclub, embodying our
                     steadfast commitment encapsulated in the mantra, "if it's about skies, then it's always about us." 5 Team have participated in zonals held at 
                     multiple IIT's , Notably, all five of our teams advanced to the finals .<br><br>

                     IIT Kanpur - 1st, 2nd, 3rd Position<br>
                     IIT Mumabi - 2nd Position<br>
                     IIT Madras - 2nd Position<br>
                     Finals - 2nd , 3rd Position<br><br>

                    Post propelling into the final round. Impressively have secured consecutive positions in the event,
                     instilling immense pride in our Aeroclub's remarkable accomplishments.

                </p>
              </div>
            </div>
          </div>

          <div class="give-padding">
            <div class="row" data-aos="fade-right" data-aos-delay="100">
  
              <div class="col-md-5 ">
  
                <div class="img-blur">
                  <img src="../img/team/iit roorkee.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                    alt="">
                </div>
              </div>
  
              <div class="col-md-6 pt-5">
                <h3><strong>Cognizance</strong></h3>
                <p>
                    Two of our teams participated in the technical festival of IIT Roorkee, showcasing their skills in the Aeromodelling and Multirotor competitions named Flight Fury and AeroHelix, respectively. Both teams demonstrated outstanding capabilities, 
                    securing notable positions in their respective events. This accomplishment adds another feather to the cap of our club, further glorifying our
                     commitment to excellence in aviation and aeromodelling.<br><br>
                     FlightFury - 2nd Position<br>
                     AeroHelix - 3rd Position
                </p>
              </div>
            </div>
          </div>

            </div>
  

          </section>
  
        </section>

<br>
<section id="2022">
        <section class="features">
            <div class="container_new">
           
                <h1 class="section-title" style="font-size: 3vh; color: rgba(1, 1, 66, 0.887);font-style: 'Montserrat' ; text-align:left ; ">
                    <b>2022</b> 
                   </h1>

                   <div class="give-padding">
                    <div class="row" data-aos="fade-right" data-aos-delay="100">
          
                      <div class="col-md-5 ">
          
                        <div class="img-blur">
                          <img src="../img/sae2.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
                        </div>
                      </div>
          
                      <div class="col-md-6 pt-5">
                        <h3><strong>SAE Aerodesign Challenge</strong></h3>
                        <p>AIR 2</p>
                        <p >
                            Enduring 10 months of unwavering commitment during the challenges posed by the COVID times, our team of 7 students 
                            from diverse interdisciplinary branches, supported by dedicated mentors, participated in the SAE Aerodesign Challenge post-pandemic. 
                            The culmination of our relentless effort resulted in securing AIR 2 in the fiercely competitive SAE Aerodesign Challenge South Zone. 
                            This achievement serves as a testament to the Aeroclub's core values, highlighting that, irrespective of the situation, our commitment
                             to continuous effort and discipline remains unwavering.
        
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="give-padding">
                    <div class="row" data-aos="fade-right" data-aos-delay="100">
          
                      <div class="col-md-5 ">
          
                        <div class="img-blur">
                          <img src="../img/wrightflight1.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
                        </div>
                      </div>
          
                      <div class="col-md-6 pt-5">
                        <h3><strong>Aerophilia</strong></h3>
                        <p >
                            This is a distinguished National-level Techno-Cultural fest held at Sahyadri College,
                             serves as a platform for students aspiring to achieve the extraordinary. The event, 
                             featuring multiple maneuvers and challenges, witnessed our team's exceptional skills, 
                             overcoming obstacles and securing  2nd and 3rd places in the competition. 
                             This triumph not only upholds our tradition of excellence but also reaffirms our 
                             commitment to pushing boundaries and achieving remarkable feats in the dynamic world
                              of aviation and technology.
                        </p>
                      </div>
                    </div>
                  </div>
               
    
    

                  <div class="give-padding">
                    <div class="row" data-aos="fade-right" data-aos-delay="100">
          
                      <div class="col-md-5 ">
          
                        <div>
                          <img src="../img/wrightflight.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                            alt="">
                        </div>
                      </div>
          
          
          
                      <div class="col-md-6 pt-5">
                        <h3><strong>Wright Flight</strong></h3>
                        <p class=>
                            In the challenging domain of the Wright Flight Technical Aeromodelling and Flying Competition at NITK Surathkal,
                             our team showcased remarkable precision in executing maneuvers and aerial stunts.
                              Overcoming obstacles with finesse, we are thrilled to announce our team's triumph in securing the prestigious Ranks
                              2nd and 3rd in the event. This noteworthy accomplishment not only highlights our technical 
                              prowess but also emphasizes our unwavering commitment to excellence in aeromodelling. 
                              It is a source of immense pride for the entire team, symbolizing our dedication and achievements in this dynamic field.
                        </p>
                        
                    </div>
                    </div>
                  </div>


                  
              
 
                </div>
      
    
    
      
            </section>
          </section>

<br>

<section id="2019">

      <section class="features">
        <div class="container_new">
       
            <h1 class="section-title" style="font-size: 3vh; color: rgba(1, 1, 66, 0.887);font-style: 'Montserrat' ; text-align:left ; ">
                <b>2019</b> 
               </h1>
               <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div class="img-blur">
                      <img src="../img/sae5.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
                    </div>
                  </div>
      
                  <div class="col-md-6 pt-5">
                    <h1><strong>SAE Aerodesign Challenge</strong></h1>
                    <p>AIR 5</p>
                    <p>
                        CA formidable team comprising multidisciplinary undergraduate engineering students, totaling 7 members, supported by the 
                        collaborative efforts of other teams working behind the scenes and consistent mentorship, achieved a remarkable feat. 
                        In their maiden attempt, they secured AIR 5 and Karnataka State Rank 2 in the highly competitive SAE India Aerodesign Challenge. 
                        This impressive accomplishment not only reflects the team's dedication and expertise but also demonstrates the power of collaboration
                         and mentorship in achieving success in challenging competitions.
                    </p>
                    
                  </div>
                </div>
              </div>

            </div>
      
    
    
      
        </section>
  
        <br>
      </section>

<section id="2018">
      <section class="features">
        <div class="container_new">
       
            <h1 class="section-title" style="font-size: 3vh; color: rgba(1, 1, 66, 0.887);font-style: 'Montserrat' ; text-align:left ; ">
                <b>2018</b> 
               </h1>

            
               <div class="give-padding">
                <div class="row" data-aos="fade-right" data-aos-delay="100">
      
                  <div class="col-md-5 ">
      
                    <div class="img-blur">
                      <img src="../img/boeing4.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                        alt="">
                    </div>
                  </div>
      
                  <div class="col-md-6 pt-4">
                    <h1><strong>Boeing IIT National Aeromodelling Competition</strong> </h1>
                    <p >
                        A dynamic team comprising entirely first-year engineering students, after undergoing rigorous training for four months, 
                        showcased their skills at the Boeing IIT National Aeromodelling competition held in IIT Kharagpur. 
                        The results were nothing short of spectacular, as both teams secured consecutive 1st and 2nd positions in the competition, 
                        earning them a well-deserved spot in the finals. This exceptional achievement not only underscores the talent and 
                        dedication of the new team but also positions them as formidable contenders in the field of aeromodelling.<br><br>
                        IIT Kharagpur - 1st, 2nd Position

                    </p><br>


                  </div>
                </div>
              </div>


            

            </div>
      
    
    
      
        </section>
      </section>
  
  
    </main><!-- End #main -->
  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <footer id="footer" data-aos-duration="500">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Address</h2>
        <p>
          Aeroclub Nitte<br>
          NMAM Institute of Technology<br>
          3rd Floor Jnana Saudha<br>
          Karkala, Udupi<br>
          Karnataka<br>
          Pin Code - 574110<br>
          +91 9113589277
        </p>
      </div>

      <div class="col-md-6">
        <div class="text-md-right" style="margin-top: 30px;"> <!-- Adjust top margin as needed for more space -->
          <a href="https://www.facebook.com/aeroclubnitte/" class="facebook" style="color: white;"><i
              class="bx bxl-facebook bx-sm"></i> Facebook</a><br>
          <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"
            style="color: white;"><i class="bx bxl-instagram bx-sm"></i> Instagram</a><br>
          <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"
            style="color: white;"><i class="bx bxl-linkedin bx-sm"></i> LinkedIn</a><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          &copy; Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved |
          <a href="/privacy-policy" style="color: blue; text-decoration: underline;" target="_blank">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
  

  <!-- End Footer -->
  <!-- Privacy Policy Pop-up -->
  <div id="privacyPolicyPopup" class="popup">
    <div class="popup-content">
      <span class="close" onclick="closePrivacyPolicyPopup()">&times;</span>
      <h2>Privacy Policy</h2>
      <p><strong>Effective Date:</strong> 13-01-2024</p>
      <p>
        At Aeroclub Nitte, we are committed to protecting your privacy and ensuring the security of your personal
        information.
        This Privacy Policy outlines how we collect, use, share, and safeguard the information you provide using our
        website.
      </p><br>
      <h3>Information We Collect:</h3>
      <p>
        When you visit our website or engage with us, we may collect the following types of information:
      </p>
      <ul>
        <li><strong>Personal Information:</strong> Name, contact information (email address, phone number), and any
          other information you voluntarily provide.</li>
        <li><strong>Usage Information:</strong> We may collect information about how you interact with our website,
          including IP addresses, browser types, and browsing patterns.</li>
      </ul>
      <br>
      <h3>How We Use Your Information:</h3>
      <p>
        We will use the information we collect for the following purposes:
      </p>
      <ul>
        <li>To contact you about our events and activities.</li>
        <li>To improve our website and enhance user experience.</li>
        <li>To communicate with you regarding updates, newsletters, and other relevant information.</li>
      </ul>
      <br>
      <h3>Sharing Your Information:</h3>
      <p>
        We may share your information with our partners, who may contact you about their products and services. However,
        we will not sell, trade, or rent your personal information to third parties for marketing purposes.
      </p>
      <br>
      <h3>Your Consent:</h3>
      <p>
        By providing your information to Aeroclub Nitte, you consent to collecting, using, and sharing your information
        as described in this Privacy Policy.
      </p>
      <br>
      <h3>Security:</h3>
      <p>
        We take reasonable measures to protect the information you provide to us from unauthorized access or disclosure.
        However, no data transmission over the Internet can be guaranteed to be completely secure, and we cannot ensure
        or warrant the security of any information you transmit to us.
      </p>
      <br>
      <h3>Your Choices:</h3>
      <p>
        You can opt out of receiving communications from us or our partners. If you wish, please contact us at
        aeroclubnitte@nmamit.in
      </p>
      <br>
      <h3>Changes to the Privacy Policy:</h3>
      <p>
        We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated
        effective date.
      </p>
      <br>
      <h3>Contact Us:</h3>
      <p>
        If you have any questions or concerns about our Privacy Policy, please contact us at aeroclubnitte@nmamit.in.
      </p>
      <br>
      <p>
        Thank you for trusting Aeroclub Nitte with your information. We are dedicated to maintaining your privacy and
        providing a secure and enjoyable online experience.
      </p>
      <br>

    </div>
  </div>

  <!-- JavaScript code for the privacy policy pop-up functionality -->
  <script>
    // Function to open the privacy policy pop-up
    function openPrivacyPolicyPopup() {
      document.getElementById('privacyPolicyPopup').style.display = 'block';
    }

    // Function to close the privacy policy pop-up
    function closePrivacyPolicyPopup() {
      document.getElementById('privacyPolicyPopup').style.display = 'none';
    }
  </script>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../vendor/counterup/counterup.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>
