<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKQ5F65G');</script>
<!-- End Google Tag Manager -->

    <title>Aero Club Nitte</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../img/logo_aero.png" rel="icon" />
    <link href="../img/logo_aero.png" rel="logo_aero" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="../vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="../vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="../vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../css/style.css" rel="stylesheet" />
    <style>
      .whatsapp-link {
        color: #45beff !important;
      }
/* Pop-up styles */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
      /* Ensure the entire pop-up is scrollable */
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 600px;
      max-height: 80vh;
      /* Set a maximum height for the content */
      overflow-y: auto;
      /* Make the content scrollable */
    }

    .popup h2 {
      color: #333;
    }

    .popup p {
      color: #555;
    }

    .popup ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .popup button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button:hover {
      background-color: #555;
    }

    /* Close button style */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #555;
      cursor: pointer;
    }

    .close:hover {
      color: #333;
    }
@media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-md-6 {
      order: 2;
      text-align: center;
    }

    .col-md-6 .text-md-right {
      text-align: center;
      margin-top: 30px; /* Adjust top margin as needed for more space */
    }
  }
.col-md-6 {
    padding-top: 20px; /* Adjust the value according to your preference */
  }


    </style>
  </head>

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKQ5F65G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container_new2">
  
        <div class="logo float-left" style="height: max-content;">
  
  
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/home"><img src="../img/logo_aero.png" alt="" style=" height: 90px; width: 85px;" class="img-fluid "></a>
        </div>
  
  
  
        <nav class="nav-menu float-right d-none d-lg-block ">
  
          <ul>
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/events">Events</a></li> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achievements <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/achievement#2024" class="whatsapp-link">2024</a></li>
                <li><a href="/achievement#2023" class="whatsapp-link">2023</a></li>
                <li><a href="/achievement#2022" class="whatsapp-link">2022</a></li>
                <li><a href="/achievement#2019" class="whatsapp-link">2019</a></li>
                <li><a href="/achievement#2018" class="whatsapp-link">2018</a></li>
              </ul>
            </li>
            <li><a href="/gallery">Gallery</a></li>
            <li class="dropdown">
              <a href="/team" class="dropdown">Team
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a></a>
              <div class="dropdown-menu">
                  <a href="/team#2020-24BATCH">2020-24 BATCH</a>
                  <a href="/team#2021-25BATCH">2021-25 BATCH</a>
                  <a href="/team#2022-26BATCH">2022-26 BATCH</a>
                  <a href="/team#2023-27BATCH">2023-27 BATCH</a>
              </div>
          </li>
          
          
          
            <li><a href="/contact">Contact Us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join Us <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://chat.whatsapp.com/FxJah3YRcNlKcBUyrEoWlP" class="whatsapp-link">Aero Club Nitte</a>
                </li>
                <li><a href="https://chat.whatsapp.com/JMdz3P5vWl31e6HPgweBZR" class="whatsapp-link">Aero Club Nitte
                    Alumni</a></li>
              </ul>
            </li>
          </ul>
        </nav><!-- .nav-menu -->
  
      </div>
    </header>
    <!-- End Header -->
    <main id="main">
      <!-- ======= Contact Section ======= -->
      <section class="breadcrumbs">
        <div class="container_new">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Contact</h2>
            
          </div>
        </div>
      </section>
      <!-- End Contact Section -->

      <!-- ======= Contact Section ======= -->
      <section
        class="contact"
        data-aos="fade-up"
        data-aos-easing="ease-in-out"
        data-aos-duration="500"
      >
        <div class="container_new">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Location</h3>
                    <p>
                      AEROCLUB NITTE<br />
                      3rd FLOOR - JNANA SAUDHA <br />
                      NMAMIT ,NITTE-574110, INDIA
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>aeroclubnitte@nmamit.in</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form
                method="post"
                role="form"
                class="php-email-form"
                action="/mail"
              >
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 4 chars"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      data-rule="email"
                      data-msg="Please enter a valid email"
                    />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 8 chars of subject"
                  />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    data-rule="required"
                    id="explain"
                    name="explain"
                    data-msg="Please write something for us"
                    placeholder="Message"
                  ></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->

      <!-- ======= Map Section ======= -->
      <section class="map mt-2">
        <div class="container-fluid p-0">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3884.6774428030844!2d74.93137031482428!3d13.182726190717624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbcabeddd315d07%3A0xf31581cfa9499131!2sAERO%20CLUB%20NITTE!5e0!3m2!1sen!2sin!4v1623871224585!5m2!1sen!2sin"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
          ></iframe>
        </div>
      </section>
      <!-- End Map Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
   <footer id="footer" data-aos-duration="500">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Address</h2>
        <p>
          Aeroclub Nitte<br>
          NMAM Institute of Technology<br>
          3rd Floor Jnana Saudha<br>
          Karkala, Udupi<br>
          Karnataka<br>
          Pin Code - 574110<br>
          +91 9113589277
        </p>
      </div>

      <div class="col-md-6">
        <div class="text-md-right" style="margin-top: 30px;"> <!-- Adjust top margin as needed for more space -->
          <a href="https://www.facebook.com/aeroclubnitte/" class="facebook" style="color: white;"><i
              class="bx bxl-facebook bx-sm"></i> Facebook</a><br>
          <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"
            style="color: white;"><i class="bx bxl-instagram bx-sm"></i> Instagram</a><br>
          <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"
            style="color: white;"><i class="bx bxl-linkedin bx-sm"></i> LinkedIn</a><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          &copy; Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved |
          <a href="/privacy-policy" style="color: blue; text-decoration: underline;" target="_blank">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
  
  <!-- End Footer -->
<!-- Privacy Policy Pop-up -->
<div id="privacyPolicyPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePrivacyPolicyPopup()">&times;</span>
        <h2>Privacy Policy</h2>
        <p><strong>Effective Date:</strong> 13-01-2024</p>
        <p>
            At Aeroclub Nitte, we are committed to protecting your privacy and ensuring the security of your personal information.
            This Privacy Policy outlines how we collect, use, share, and safeguard the information you provide using our website.
        </p><br>
        <h3>Information We Collect:</h3>
        <p>
            When you visit our website or engage with us, we may collect the following types of information:
        </p>
        <ul>
            <li><strong>Personal Information:</strong> Name, contact information (email address, phone number), and any other information you voluntarily provide.</li>
            <li><strong>Usage Information:</strong> We may collect information about how you interact with our website, including IP addresses, browser types, and browsing patterns.</li>
        </ul>
<br>
        <h3>How We Use Your Information:</h3>
        <p>
            We will use the information we collect for the following purposes:
        </p>
        <ul>
            <li>To contact you about our events and activities.</li>
            <li>To improve our website and enhance user experience.</li>
            <li>To communicate with you regarding updates, newsletters, and other relevant information.</li>
        </ul>
<br>
        <h3>Sharing Your Information:</h3>
        <p>
            We may share your information with our partners, who may contact you about their products and services. However, we will not sell, trade, or rent your personal information to third parties for marketing purposes.
        </p>
<br>
        <h3>Your Consent:</h3>
        <p>
            By providing your information to Aeroclub Nitte, you consent to collecting, using, and sharing your information as described in this Privacy Policy.
        </p>
<br>
        <h3>Security:</h3>
        <p>
            We take reasonable measures to protect the information you provide to us from unauthorized access or disclosure. However, no data transmission over the Internet can be guaranteed to be completely secure, and we cannot ensure or warrant the security of any information you transmit to us.
        </p>
<br>
        <h3>Your Choices:</h3>
        <p>
            You can opt out of receiving communications from us or our partners. If you wish, please contact us at aeroclubnitte@nmamit.in
        </p>
<br>
        <h3>Changes to the Privacy Policy:</h3>
        <p>
            We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date.
        </p>
<br>
        <h3>Contact Us:</h3>
        <p>
            If you have any questions or concerns about our Privacy Policy, please contact us at aeroclubnitte@nmamit.in.
        </p>
<br>
        <p>
            Thank you for trusting Aeroclub Nitte with your information. We are dedicated to maintaining your privacy and providing a secure and enjoyable online experience.
        </p>
  <br>      
       
    </div>
</div>

<!-- JavaScript code for the privacy policy pop-up functionality -->
<script>
    // Function to open the privacy policy pop-up
    function openPrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'block';
    }

    // Function to close the privacy policy pop-up
    function closePrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'none';
    }
</script>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <!-- Vendor JS Files -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../vendor/php-email-form/validate.js"></script>
    <script src="../vendor/venobox/venobox.min.js"></script>
    <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../vendor/counterup/counterup.min.js"></script>
    <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../vendor/aos/aos.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../js/main.js"></script>
  </body>
</html>
