<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Aero Club Nitte</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../img/logo_aero.png" rel="icon" />
    <link href="../img/logo_aero.png" rel="logo_aero" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="../vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link href="../vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="../vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../css/style.css" rel="stylesheet" />
    <style>
      .whatsapp-link {
        color: #45beff !important;
      }
/* Pop-up styles */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
      /* Ensure the entire pop-up is scrollable */
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 600px;
      max-height: 80vh;
      /* Set a maximum height for the content */
      overflow-y: auto;
      /* Make the content scrollable */
    }

    .popup h2 {
      color: #333;
    }

    .popup p {
      color: #555;
    }

    .popup ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .popup button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button:hover {
      background-color: #555;
    }

    /* Close button style */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #555;
      cursor: pointer;
    }

    .close:hover {
      color: #333;
    }
@media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-md-6 {
      order: 2;
      text-align: center;
    }

    .col-md-6 .text-md-right {
      text-align: center;
      margin-top: 30px; /* Adjust top margin as needed for more space */
    }
  }
.col-md-6 {
    padding-top: 20px; /* Adjust the value according to your preference */
  }


    </style>
  </head>

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKQ5F65G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container_new">
        <div class="logo float-left" style="height: max-content">
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="/home"
            ><img
              src="../img/logo_aero.png"
              alt=""
              style="height: 5vh; width: 5vh"
              class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/achievement">Achievement</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/vayurvya">Vayurvya</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                >Join Us <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="https://chat.whatsapp.com/FxJah3YRcNlKcBUyrEoWlP"
                    class="whatsapp-link"
                    >Aero Club Nitte</a
                  >
                </li>
                <li>
                  <a
                    href="https://chat.whatsapp.com/JMdz3P5vWl31e6HPgweBZR"
                    class="whatsapp-link"
                    >Aero Club Nitte Alumni</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->

      </div>
    </header>
    <section class="events">
      <article class="slider">

      </article>
      <div class="year" id="2023-24">
        <div class="contain_eve">
          <center><h2 style="font-size: large; font-weight: 100;">2023-24</h2></center>          
        </div>
        <div class="ha">
          <div class="eve_box" id="rc_2324">
        
          </div>
          <div class="eve_box" id="quad_2324">
            
          </div>
          <div class="eve_box" id="outreach_2324">
            
          </div>
        </div>

      </div>
      <div class="year" id="2022-23">
        <div class="contain_eve" >
          <center><h2 style="font-size: large; font-weight: 100;">2022-23</h2></center>          
  
        </div>

<div class="ha">
  <div class="eve_box" id="rc_2324">

  </div>
  <div class="eve_box" id="quad_2324">
    
  </div>
  <div class="eve_box" id="outreach_2324">
    
  </div>
</div>

      </div>

    </section>
</html>

    