<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <!-- Add any necessary styles or scripts for the Privacy Policy page -->
</head>
<body>

  <h2>Privacy Policy</h2>
      <p><strong>Effective Date:</strong> 13-01-2024</p>
      <p>
        At Aeroclub Nitte, we are committed to protecting your privacy and ensuring the security of your personal
        information.
        This Privacy Policy outlines how we collect, use, share, and safeguard the information you provide using our
        website.
      </p><br>
      <h3>Information We Collect:</h3>
      <p>
        When you visit our website or engage with us, we may collect the following types of information:
      </p>
      <ul>
        <li><strong>Personal Information:</strong> Name, contact information (email address, phone number), and any
          other information you voluntarily provide.</li>
        <li><strong>Usage Information:</strong> We may collect information about how you interact with our website,
          including IP addresses, browser types, and browsing patterns.</li>
      </ul>
      <br>
      <h3>How We Use Your Information:</h3>
      <p>
        We will use the information we collect for the following purposes:
      </p>
      <ul>
        <li>To contact you about our events and activities.</li>
        <li>To improve our website and enhance user experience.</li>
        <li>To communicate with you regarding updates, newsletters, and other relevant information.</li>
      </ul>
      <br>
      <h3>Sharing Your Information:</h3>
      <p>
        We may share your information with our partners, who may contact you about their products and services. However,
        we will not sell, trade, or rent your personal information to third parties for marketing purposes.
      </p>
      <br>
      <h3>Your Consent:</h3>
      <p>
        By providing your information to Aeroclub Nitte, you consent to collecting, using, and sharing your information
        as described in this Privacy Policy.
      </p>
      <br>
      <h3>Security:</h3>
      <p>
        We take reasonable measures to protect the information you provide to us from unauthorized access or disclosure.
        However, no data transmission over the Internet can be guaranteed to be completely secure, and we cannot ensure
        or warrant the security of any information you transmit to us.
      </p>
      <br>
      <h3>Your Choices:</h3>
      <p>
        You can opt out of receiving communications from us or our partners. If you wish, please contact us at
        aeroclubnitte@nmamit.in
      </p>
      <br>
      <h3>Changes to the Privacy Policy:</h3>
      <p>
        We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated
        effective date.
      </p>
      <br>
      <h3>Contact Us:</h3>
      <p>
        If you have any questions or concerns about our Privacy Policy, please contact us at aeroclubnitte@nmamit.in.
      </p>
      <br>
      <p>
        Thank you for trusting Aeroclub Nitte with your information. We are dedicated to maintaining your privacy and
        providing a secure and enjoyable online experience.
      </p>
      <br>

</body>
</html>
