<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta charset="utf-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">


  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKQ5F65G');</script>
<!-- End Google Tag Manager -->


  <title>Aero Club Nitte</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo_aero.png" rel="icon">
  <link href="../img/logo_aero.png" rel="logo_aero">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">
<link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
<style>

/* Your existing styles */
.popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
      /* Ensure the entire pop-up is scrollable */
    } 
  

    .popup-content {
      position:sticky;
      top: 50%;
      left: 50%;
      font-style:bold;
      transform: translate(-50%, -50%);
      background-color: hsl(191, 27%, 88%);
      padding: 20px;
      border-radius: 5px;
      box-shadow: 5 5 8px rgba(69, 228, 228, 0.985);
      max-width: 600px;
      max-height: 80vh;
      /* Set a maximum height for the content */
      overflow-y: auto;
      
      
      /* Make the content scrollable */
    }


    .popup h2 {
      color: #333;
    }

    .popup p {
      color: #555;
    }

    .popup ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .popup button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button:hover {
      background-color: #555;
    }

    /* Close button style */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #555;
      cursor: pointer;
    }

    .close:hover {
      color: #333;
    }
.portfolio-info {
  position: relative;
  cursor: pointer;
}

/* .portfolio-info .tooltip {
  position: relative;
  bottom: 0; 
  left: 50%;
  transform: translate(-50%, 7px); 
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 9999;
  max-width: 800px;
  max-height: 500px;
  overflow: auto;
} */
.portfolio-info .tooltip {
   position: absolute;
    top: 100%; /* Set top to 100% to position it at the bottom */
    left: 50%;
    transform: translate(-50%, 7px);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
    max-width: 800px;
    overflow-y: auto; /* Make the tooltip scrollable */
}



.portfolio-info:hover .tooltip {
  display: block;
  opacity: 1;
  overflow: auto;
}


.whatsapp-link {
  color: #45beff !important;
}
.project-name {
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); /* Adjust the transparency by changing the last value (0.5 in this case) */
        padding: 10px;
        color: white;
        text-align: center;
        text-shadow: 5px 5px 5px rgb(45, 32, 225); 
    }
@media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-md-6 {
      order: 2;
      text-align: center;
    }

    .col-md-6 .text-md-right {
      text-align: center;
      margin-top: 30px; /* Adjust top margin as needed for more space */
    }
  }
  .tooltip {
    max-width: 100%;
    width: 100%;
}

.scrollable-tooltip {
    max-height: 150px;
    overflow-y: auto;
}

.scrollable-content {
    padding: 10px;
}


.col-md-6 {
    padding-top: 20px; /* Adjust the value according to your preference */
  }

.popup-content h2{
  color: #45beff; 
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(2, 1, 3, 0.8); 
 
}

</style>


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKQ5F65G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top header-transparent">
  <div class="container_new2">

    <div class="logo float-left" style="height: max-content;">


      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/home"><img src="../img/logo_aero.png" alt="" style=" height: 90px; width: 85px;" class="img-fluid"></a>
    </div>



    <nav class="nav-menu float-right d-none d-lg-block ">

      <ul>
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/events">Events</a></li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achievements <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/achievement#2024" class="whatsapp-link">2024</a></li>
            <li><a href="/achievement#2023" class="whatsapp-link">2023</a></li>
            <li><a href="/achievement#2022" class="whatsapp-link">2022</a></li>
            <li><a href="/achievement#2019" class="whatsapp-link">2019</a></li>
            <li><a href="/achievement#2018" class="whatsapp-link">2018</a></li>
          </ul>
        </li>
        <li><a href="/gallery">Gallery</a></li>
        <li class="dropdown">
          <a href="/team" class="dropdown">Team
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a></a>
          <div class="dropdown-menu">
              <a href="/team#2020-24BATCH">2020-24 BATCH</a>
              <a href="/team#2021-25BATCH">2021-25 BATCH</a>
              <a href="/team#2022-26BATCH">2022-26 BATCH</a>
              <a href="/team#2023-27BATCH">2023-27 BATCH</a>
          </div>
      </li>
      
      
      
        <li><a href="/contact">Contact Us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://chat.whatsapp.com/FxJah3YRcNlKcBUyrEoWlP" class="whatsapp-link">Aero Club Nitte</a>
            </li>
            <li><a href="https://chat.whatsapp.com/JMdz3P5vWl31e6HPgweBZR" class="whatsapp-link">Aero Club Nitte
                Alumni</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header>
<!-- End Header -->
<main id="main">


    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container_new">
        <div class="d-flex justify-content-between align-items-center">
          <h2 style="width: 100%;text-align: center;">Our Projects</h2>
          <ol>
          <!--  <li><a href="/home">Home</a></li>
            <li>Projects</li>
          </ol>
        </div>-->
      </div>
    </section>
    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
        <div class="container_new">
          <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    
            <div class="col-lg-4 col-md-6 filter-app">
              <div class="portfolio-item" >
                
                <img src="../img/solarplane.jpg" id="solar" style="height: 315px;" class="img-fluid" alt="" onclick="showPopup(this)">
                  <!--<div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                      <h3><a href="../img/solarplane.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"></a></h3>
                      <a href="../img/solarplane.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><b><i class="icofont-square-up"></i></b></a>
                      <div class="tooltip scrollable-tooltip">
                          <strong>Solar Powered radio controlled plane</strong><br>
                          <div class="scrollable-content">
                              Renewable solar energy powers the RC plane motor, which requires 6-7 volts and 40-60 amps. To meet this demand, 14 solar cells with 0.5 volts and 6 amps panels were installed on the aircraft for energy generation.
                              Renewable solar energy powers the RC plane motor, which requires 6-7 volts and 40-60 amps. To meet this demand, 14 solar cells with 0.5 volts and 6 amps panels were installed on the aircraft for energy generation.
                            </div>
                      </div>
                      
                    
                
                   
                  </div>-->
                  <div id="popup1"  class="popup">
                    
                    <div class="popup-content" >
      
                        <span id="solar_close" class="close" onclick="hidePopup(this)">&times;</span>
                        <h2>Solar Powered radio controlled plane</h2>
                        <p>Renewable solar energy powers the RC plane motor, which requires 6-7 volts and 40-60 amps. To meet this demand, 14 solar cells with 0.5 volts and 6 amps panels were installed on the aircraft for energy generation.
                          </p>
                         
                    </div>
                </div>
                  <div class="project-name">
                      <p>Solar Powered radio controlled plane</p>
                  </div>
              </div>
          </div>
         


           
            <div class="col-lg-4 col-md-6 filter-app">
              <div class="portfolio-item">
                  <img src="../img/umatis.jpg" id="uman" style="height:315px;" class="img-fluid" alt="" onclick="showPopup(this)" >
                 <!-- <div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                    <h3><a href="../img/umatis.jpg" data-gall="portfolioGallery" class="venobox"
                        title="App 1"></a></h3>
                    <a href="../img/umatis.jpg" data-gall="portfolioGallery" class="venobox"
                      title="App 1"><b><i class="icofont-square-up"></i></b></a>
                    <div class="tooltip scrollable-tooltip">
                      
                      <strong>UMANTIS</strong><br>
                      <div class="scrollable-content">
                      Unmanned aerial navigation
and terrestrial vehicle
developed with aerial and
terrestrial surveillance
vehicle. A prototype was
developed of the hybrid
version.
                    </div></div>
                  </div>-->
                  <div id="popup2" class="popup">
                    <div class="popup-content">
                      <span id="umantis_close" class="close" onclick="hidePopup(this)">&times;</span>
                        <h2>UMANTIS</h2>
                        <p> Unmanned aerial navigation
                          and terrestrial vehicle
                          developed with aerial and
                          terrestrial surveillance
                          vehicle. A prototype was
                          developed of the hybrid
                          version.
                          </p>
                    </div>
                  </div>
              
                  <div class="project-name" >
                      <p>UMANTIS</p>
                  </div>
                </div>
            </div>
            
              
    


              <div class="col-lg-4 col-md-6 filter-app">
                <div class="portfolio-item">
                  <img src="../img/HAAPS.jpg" id="haaps" style="height:315px;" class="img-fluid" alt="" onclick=showPopup(this)>
                  <!--<div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                    <h3><a href="../img/HAAPS.jpg" data-gall="portfolioGallery" class="venobox"
                        title="App 1"></a></h3>
                    <a href="../img/HAAPS.jpg" data-gall="portfolioGallery" class="venobox"
                      title="App 1"><b><i class="icofont-square-up"></i></b></a>
                    <div class="tooltip scrollable-tooltip">
                      <strong>HAAPS</strong><br>
                      <div class="scrollable-content">
                    
                      High Altitude Aeronautical Platform Station.
                      They are operated in 17-22 km altitude of
                      stratospheric layer. It is developed for long
                      range wireless narrow band and broadband
                      telecommunications as well as broadcasting
                    </div></div>
                  </div>-->
                    <div id="popup3" class="popup">
                      <div class="popup-content">
                        <span id="haaps_close" class="close" onclick="hidePopup(this)">&times;</span>
                          <h2>HAAPS</h2>
                         <p>High Altitude Aeronautical Platform Station.
                          They are operated in 17-22 km altitude of
                          stratospheric layer. It is developed for long
                          range wireless narrow band and broadband
                          telecommunications as well as broadcasting
                            </p>
                      </div>
                </div>
                  <div class="project-name">
            <p>HAAPS</p>
        </div>
                </div>
              </div>
              
                



              <div class="col-lg-4 col-md-6 filter-app">
                <div class="portfolio-item">
                  <img src="../img/cropyield.png" id="acye" style="height:315px;" class="img-fluid" alt=""  onclick="showPopup(this)">
                  <!--<div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                    <h3><a href="../img/cropyield.png" data-gall="portfolioGallery" class="venobox"
                        title="App 1"></a></h3>
                    <a href="../img/cropyield.png" data-gall="portfolioGallery" class="venobox"
                      title="App 1"><b><i class="icofont-square-up"></i></b></a>
                    <div class="tooltip scrollable-tooltip">
                      <strong> Aerial Crop Yield Estimator</strong><br>
                      <div class="scrollable-content">
                      Developing a precise aerial crop
yield estimator using data from
UAVs and advanced deep
learning techniques, such as
convolutional neural networks.
                    </div></div>
                  </div>-->
                <div id="popup4"  class="popup">
                    <div class="popup-content">
                        <span id="acye_close" class="close" onclick="hidePopup(this)">&times;</span>
                        <h2>AERIAL CROP YIELD ESTIMATOR</h2>
                        <p>Developing a precise aerial crop
                          yield estimator using data from
                          UAVs and advanced deep
                          learning techniques, such as
                          convolutional neural networks..</p>
                    </div>
                </div>
                   <div class="project-name">
            <p>Aerial Crop Yield Estimator</p>
        </div>
                </div>
              </div>


    
              
           

             <div class="col-lg-4 col-md-6 filter-app">
              <div class="portfolio-item">
                <img src="../img/Health_monitoring_system.jpg" id="hms" style="height:315px;" class="img-fluid" alt="" onclick="showPopup(this)">
                <!--<div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                  <h3><a href="../img/Health_monitoring_system.jpg" data-gall="portfolioGallery" class="venobox"
                      title="App 1"></a></h3>
                  <a href="../img/Health_monitoring_system.jpg" data-gall="portfolioGallery" class="venobox"
                    title="App 1"><b><i class="icofont-square-up"></i></b></a>
                  <div class="tooltip scrollable-tooltip">
                    <strong>Aerial Crop Health Monitoring System</strong><br>
                    <div class="scrollable-content">
                    Utilising the NDVI approach,
crop health is monitored based
on the light reflection of
healthy and unhealthy plants
                  </div>
                </div></div>-->
                <div id="popup5"  class="popup">
                  <div class="popup-content">
                      <span id="hms_close" class="close" onclick="hidePopup(this)">&times;</span>
                      <h2>AERIAL CROP HEALTH MONITORING SYSTEM</h2>
                      <p> Utilising the NDVI approach,
                        crop health is monitored based
                        on the light reflection of
                        healthy and unhealthy plants</p>
                  </div>
              </div>
                 <div class="project-name">
            <p>Aerial Crop Health Monitoring System</p>
        </div>
              </div>
            </div>
    

              <div class="col-lg-4 col-md-6 filter-app">
                <div class="portfolio-item">
                  <img src="../img/aerial_pesticide_sprayer.jpg" id="aps" style="height:315px;" class="img-fluid" alt="" onclick="showPopup(this)">
                  <!--<div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                    <h3><a href="../img/aerial_pesticide_sprayer.jpg" data-gall="portfolioGallery" class="venobox"
                        title="App 1"></a></h3>
                    <a href="../img/aerial_pesticide_sprayer.jpg" data-gall="portfolioGallery" class="venobox"
                      title="App 1"><b><i class="icofont-square-up"></i></b></a>
                    <div class="tooltip scrollable-tooltip">
                      <strong> Aerial Pesticide Sprayer</strong><br>
                      <div class="scrollable-content">
                      This aircraft can access sensitive
                      and hard-to-reach areas, enabling
                      the development of an aerial
                      pesticide sprayer for precise crop
                      protection at a fixed altitude.
                    </div></div>
                  </div>-->
                  <div id="popup6"  class="popup">
                    <div class="popup-content">
                        <span id="aps_close" class="close" onclick="hidePopup(this)">&times;</span>
                        <h2>AERIAL PESTICIDE SPRAYER</h2>
                        <p> This aircraft can access sensitive
                          and hard-to-reach areas, enabling
                          the development of an aerial
                          pesticide sprayer for precise crop
                          protection at a fixed altitude.</p>
                    </div>
                </div>
                  <div class="project-name">
            <p>Aerial Pesticide Sprayer</p>
        </div>
                </div>
              </div>



              <div class="col-lg-4 col-md-6 filter-app">
                <div class="portfolio-item">
                  <img src="../img/Hot_airfoil_cutter.jpg" id="hac" style="height:315px;" class="img-fluid" alt="" onclick="showPopup(this)">
                 <!-- <div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                    <h3><a href="../img/Hot_airfoil_cutter.jpg" data-gall="portfolioGallery" class="venobox"
                        title="App 1"></a></h3>
                    <a href="../img/Hot_airfoil_cutter.jpg" data-gall="portfolioGallery" class="venobox"
                      title="App 1"><b><i class="icofont-square-up"></i></b></a>
                    <div class="tooltip scrollable-tooltip">
                      <strong>Hot Wire Airfoil Cutter</strong><br>
                      <div class="scrollable-content">
                      It is a device based on heating
principle. The hot wire enables
to pass through the specifies
material. It was designed and
fabricated to obtain airfoil
structure for the wings.
                    </div>
                  </div></div>-->
                  <div id="popup7"  class="popup">
                    <div class="popup-content">
                        <span id="hac_close" class="close" onclick="hidePopup(this)">&times;</span>
                        <h2>HOT AIRFOIL CUTTER</h2>
                        <p> It is a device based on heating
                          principle. The hot wire enables
                          to pass through the specifies
                          material. It was designed and
                          fabricated to obtain airfoil
                          structure for the wings.</p>
                    </div>
                </div>
                  <div class="project-name">
            <p>Hot Wire Airfoil Cutter</p>
        </div>
                </div>
              </div>


              


              <!-- <div class="col-lg-4 col-md-6 filter-app">
                <div class="portfolio-item">
                  <img src="../img/umatis.jpg" style="height:315px;" class="img-fluid" alt="">
                  <div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                    <h3><a href="../img/umatis.jpg" data-gall="portfolioGallery" class="venobox"
                        title="App 1"></a></h3>
                    <a href="../img/umatis.jpg" data-gall="portfolioGallery" class="venobox"
                      title="App 1"><b><i class="icofont-square-up"></i></b></a>
                    <div class="tooltip">
                      <strong>Stable Airplane Configuration</strong><br>
                      The main objective of this project is to design, construct and fly a remote controlled aircraft having high stability at lower and higher speeds while taking into account the availaible power, aircrafts length, width and height requirements.
                    </div>
                  </div>
                  <div class="project-name">
            <p>Surveillance Drone Project</p>
        </div>
                </div>
              </div> -->


             <div class="col-lg-4 col-md-6 filter-app">
      <div class="portfolio-item">
        <img src="../img/surveillance_drone.jpg" id="sd" style="height:315px;" class="img-fluid" alt="" onclick="showPopup(this)">
        <!--<div class="portfolio-info" data-toggle="tooltip" data-placement="top">
            <h3><a href="../img/surveillance_drone.jpg" data-gall="portfolioGallery" class="venobox"
                    title="App 1"></a></h3>
            <a href="../img/surveillance_drone.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><b><i
                        class="icofont-square-up"></i></b></a>
            <div class="tooltip scrollable-tooltip">
                <strong>Surveillance Drone</strong><br>
                <div class="scrollable-content">

                  The autonomous drone, weighing approximately 2.5 kg, is configured in an H shape for optimal stability during perimeter surveillance. It employs a Pixhawk flight controller for precise autonomous operations, with Mission Planner serving as the ground control station (GCS). The onboard Raspberry Pi enhances computational capabilities, and the drone is versatile enough for payload dropping.
                  </div></div>
        Project name displayed at the bottom outside the tooltip div 
        
    </div>-->
    <div id="popup8"  class="popup">
      <div class="popup-content">
          <span id="sd_close" class="close" onclick="hidePopup(this)">&times;</span>
          <h2>SURVELLIANCE DRONE</h2>
          <p> The autonomous drone, weighing approximately 2.5 kg, is configured in an H shape for optimal stability during perimeter surveillance. It employs a Pixhawk flight controller for precise autonomous operations, with Mission Planner serving as the ground control station (GCS). The onboard Raspberry Pi enhances computational capabilities, and the drone is versatile enough for payload dropping.</p>
      </div>
  </div>
<div class="project-name">
            <p>Surveillance Drone</p>
        </div>
</div>
</div>
            

    <div class="col-lg-4 col-md-6 filter-app">
              <div class="portfolio-item">
              <img src="../img/Autonomous_plane.jpg" id="ap" style="height:315px;" class="img-fluid" alt="" onclick="showPopup(this)">
           <!-- <div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                  <h3><a href="../img/Autonomous_plane.jpg" data-gall="portfolioGallery" class="venobox"
                        title="App 1"></a></h3>
                  <a href="../img/Autonomous_plane.jpg" data-gall="portfolioGallery" class="venobox"title="App 1"><b><i
                       class="icofont-square-up"></i></b></a>
            <div class="tooltip scrollable-tooltip">
                <strong>Autonomous Plane</strong><br>
                <div class="scrollable-content">

                    An autonomous fixed wing UAV for payload dropping and medical kit is an unmanned aerial vehicle that has a fixed wing design and can fly without human intervention to deliver medical supplies or equipment to a desired location. Autonomous fixed wing UAVs can be useful for emergency situations, rural areas, or remote locations where conventional delivery methods are not feasible or safe.
                    </div></div>
              </div>-->
                <div id="popup9"  class="popup">
                <div class="popup-content">
                    <span id="ap_close" class="close" onclick="hidePopup(this)">&times;</span>
                    <h2>AUTONOMOUS PLANE</h2>
                    <p> An autonomous fixed wing UAV for payload dropping and medical kit is an unmanned aerial vehicle that has a fixed wing design and can fly without human intervention to deliver medical supplies or equipment to a desired location. Autonomous fixed wing UAVs can be useful for emergency situations, rural areas, or remote locations where conventional delivery methods are not feasible or safe. </p>
                </div>
                </div>
        <div class="project-name">
            <p> Autonomous Plane</p>
        </div>
      </div>
    </div>
              
<div class="col-lg-4 col-md-6 filter-app">
<div class="portfolio-item">
          <img src="../img/V-TOL UAV.jpg" id="vtol" style="height:315px;" class="img-fluid" alt="" onclick="showPopup(this)">
          <!--<div class="portfolio-info" data-toggle="tooltip" data-placement="top">
                  <h3><a href="../img/Autonomous_plane.jpg" data-gall="portfolioGallery" class="venobox"
                      title="App 1"></a></h3>
                  <a href="../img/V-TOL UAV.jpg" data-gall="portfolioGallery" class="venobox"title="App 1"><b><i
                     class="icofont-square-up"></i></b></a>
          <div class="tooltip scrollable-tooltip">
                <strong>V-TOL Project</strong><br>
                <div class="scrollable-content">

                  Vertical Takeoff Landing is of the successful team project accomplished by Aero Club Nitte. It had won the "Best project of the year award" at the major Project Expro exhibition and competition, 2024. It is fully hand-crafted. 
                  <br> 
                  Specifications
                  <li> 
                    <ul>- Wingspan : 1.2m</ul>
                    <ul>- Empty aircraft weight : 1.7kg (3.747lbs)</ul>
                    <ul>- MTOW (max Takeoff weight) : 4kg (8.818lbs)</ul>
                    <ul>- Payload capacity : 0.5kg (1.102lbs)</ul>
                    <ul> - Endurance : 20mins </ul>
                    <ul>- Cruise speed : 10m/s</ul>
                    <ul>- Range : 1km</ul>
                    <ul> - Avionics : ArduPilot flight software (mission planner 1.3.76)</ul>
                  </li>
                  </div></div>
            </div>-->
            <div id="popup10"  class="popup">
              <div class="popup-content">
                  <span id="vtol_close" class="close" onclick="hidePopup(this)">&times;</span>
                  <h2>V-TOL</h2>
                  <p>Vertical Takeoff Landing is of the successful team project accomplished by Aero Club Nitte. It had won the "Best project of the year award" at the major Project Expro exhibition and competition, 2024. It is fully hand-crafted. 
                    <br> 
                    Specifications
                    <li> 
                      <ul>- Wingspan : 1.2m</ul>
                      <ul>- Empty aircraft weight : 1.7kg (3.747lbs)</ul>
                      <ul>- MTOW (max Takeoff weight) : 4kg (8.818lbs)</ul>
                      <ul>- Payload capacity : 0.5kg (1.102lbs)</ul>
                      <ul> - Endurance : 20mins </ul>
                      <ul>- Cruise speed : 10m/s</ul>
                      <ul>- Range : 1km</ul>
                      <ul> - Avionics : ArduPilot flight software (mission planner 1.3.76)</ul>
                    </li></p>
              </div>
              </div>
        <div class="project-name">
            <p> V-TOL Project</p>
        </div>
</div>
</div>
            



</div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  
    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos-duration="500">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Address</h2>
        <p>
          Aeroclub Nitte<br>
          NMAM Institute of Technology<br>
          3rd Floor Jnana Saudha<br>
          Karkala, Udupi<br>
          Karnataka<br>
          Pin Code - 574110<br>
          +91 9113589277
        </p>
      </div>

      <div class="col-md-6">
        <div class="text-md-right" style="margin-top: 30px;"> <!-- Adjust top margin as needed for more space -->
          <a href="https://www.facebook.com/aeroclubnitte/" class="facebook" style="color: white;"><i
              class="bx bxl-facebook bx-sm"></i> Facebook</a><br>
          <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"
            style="color: white;"><i class="bx bxl-instagram bx-sm"></i> Instagram</a><br>
          <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"
            style="color: white;"><i class="bx bxl-linkedin bx-sm"></i> LinkedIn</a><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          &copy; Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved |
          <a href="/privacy-policy" style="color: blue; text-decoration: underline;" target="_blank">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
  

  <!-- End Footer -->
<!-- Privacy Policy Pop-up -->
<div id="privacyPolicyPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePrivacyPolicyPopup()">&times;</span>
        <h2>Privacy Policy</h2>
        <p><strong>Effective Date:</strong> 13-01-2024</p>
        <p>
            At Aeroclub Nitte, we are committed to protecting your privacy and ensuring the security of your personal information.
            This Privacy Policy outlines how we collect, use, share, and safeguard the information you provide using our website.
        </p><br>
        <h3>Information We Collect:</h3>
        <p>
            When you visit our website or engage with us, we may collect the following types of information:
        </p>
        <ul>
            <li><strong>Personal Information:</strong> Name, contact information (email address, phone number), and any other information you voluntarily provide.</li>
            <li><strong>Usage Information:</strong> We may collect information about how you interact with our website, including IP addresses, browser types, and browsing patterns.</li>
        </ul>
<br>
        <h3>How We Use Your Information:</h3>
        <p>
            We will use the information we collect for the following purposes:
        </p>
        <ul>
            <li>To contact you about our events and activities.</li>
            <li>To improve our website and enhance user experience.</li>
            <li>To communicate with you regarding updates, newsletters, and other relevant information.</li>
        </ul>
<br>
        <h3>Sharing Your Information:</h3>
        <p>
            We may share your information with our partners, who may contact you about their products and services. However, we will not sell, trade, or rent your personal information to third parties for marketing purposes.
        </p>
<br>
        <h3>Your Consent:</h3>
        <p>
            By providing your information to Aeroclub Nitte, you consent to collecting, using, and sharing your information as described in this Privacy Policy.
        </p>
<br>
        <h3>Security:</h3>
        <p>
            We take reasonable measures to protect the information you provide to us from unauthorized access or disclosure. However, no data transmission over the Internet can be guaranteed to be completely secure, and we cannot ensure or warrant the security of any information you transmit to us.
        </p>
<br>
        <h3>Your Choices:</h3>
        <p>
            You can opt out of receiving communications from us or our partners. If you wish, please contact us at aeroclubnitte@nmamit.in
        </p>
<br>
        <h3>Changes to the Privacy Policy:</h3>
        <p>
            We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date.
        </p>
<br>
        <h3>Contact Us:</h3>
        <p>
            If you have any questions or concerns about our Privacy Policy, please contact us at aeroclubnitte@nmamit.in.
        </p>
<br>
        <p>
            Thank you for trusting Aeroclub Nitte with your information. We are dedicated to maintaining your privacy and providing a secure and enjoyable online experience.
        </p>
  <br>      
       
    </div>
</div>

<!-- JavaScript code for the privacy policy pop-up functionality -->
<script>
    // Function to open the privacy policy pop-up
    function openPrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'block';
    }

    // Function to close the privacy policy pop-up
    function closePrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'none';
    }
</script>

<script>
  function showPopup(img)
   {
    if (img.id=="solar"){
    document.getElementById("popup1").style.display = "flex";
    }else if (img.id=="uman"){
    document.getElementById("popup2").style.display = "flex";
    }else if (img.id=="haaps"){
      document.getElementById("popup3").style.display="flex";
    }else if (img.id=="acye"){
      document.getElementById("popup4").style.display="flex";
    }else if (img.id=="hms"){
      document.getElementById("popup5").style.display="flex";
    }else if (img.id=="aps"){
      document.getElementById("popup6").style.display="flex";
    }else if (img.id=="hac"){
      document.getElementById("popup7").style.display="flex";
    }else if (img.id=="sd"){
      document.getElementById("popup8").style.display="flex";
    }else if (img.id=="ap"){
      document.getElementById("popup9").style.display="flex";
    }else if (img.id=="vtol"){
      document.getElementById("popup10").style.display="flex";
    }
  }
  
  function hidePopup(close) {
    if(close.id=="solar_close"){
      document.getElementById("popup1").style.display = "none";
    }else if (close.id=="umantis_close"){
      document.getElementById("popup2").style.display="none";
    }else if (close.id=="haaps_close"){
      document.getElementById("popup3").style.display="none";
    }else if(close.id=="acye_close"){
      document.getElementById("popup4").style.display="none";
    }else if (close.id=="hms_close"){
      document.getElementById("popup5").style.display="none";
    }else if (close.id=="aps_close"){
      document.getElementById("popup6").style.display="none";
    }else if (close.id=="hac_close"){
      document.getElementById("popup7").style.display="none";
    }else if(close.id=="sd_close"){
      document.getElementById("popup8").style.display="none";
    }else if (close.id=="ap_close"){
      document.getElementById("popup9").style.display="none";
    }else if (close.id=="vtol_close"){
      document.getElementById("popup10").style.display="none";
    }
  }
  </script> 
<script>
        function addPointerEffectToImages() {
    
            const images = [
                document.getElementById('solar'),
                document.getElementById('uman'),
                document.getElementById('haaps'),
                document.getElementById('acye'),
                document.getElementById('hms'),
                document.getElementById('aps'),
                document.getElementById('hac'),
                document.getElementById('sd'),
                document.getElementById('ap'),
                document.getElementById('vtol')
            ];
            
            images.forEach(image => {
                image.addEventListener('mouseover', function() {
                    image.style.cursor = 'pointer';
                });

                image.addEventListener('mouseout', function() {
                    image.style.cursor = 'default';
                });
            });
        }

        addPointerEffectToImages();
    </script>

  
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

 <!-- Bootstrap JS and dependencies -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
 integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
 integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
 integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
 crossorigin="anonymous"></script>

<script>
 $(document).ready(function () {
   $('[data-toggle="tooltip"]').tooltip();
 });
</script>
  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../vendor/counterup/counterup.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/aos/aos.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>
