<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKQ5F65G');</script>
<!-- End Google Tag Manager -->

  <title>Aero Club Nitte</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo_aero.png" rel="icon">
  <link href="../img/logo_aero.png" rel="logo_aero">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
<style>
.whatsapp-link {
  color: #45beff !important;
}
/* Pop-up styles */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
      /* Ensure the entire pop-up is scrollable */
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 600px;
      max-height: 80vh;
      /* Set a maximum height for the content */
      overflow-y: auto;
      /* Make the content scrollable */
    }

    .popup h2 {
      color: #333;
    }

    .popup p {
      color: #555;
    }

    .popup ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .popup button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button:hover {
      background-color: #555;
    }

    /* Close button style */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #555;
      cursor: pointer;
    }

    .close:hover {
      color: #333;
    }
@media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col-md-6 {
      order: 2;
      text-align: center;
    }

    .col-md-6 .text-md-right {
      text-align: center;
      margin-top: 30px; /* Adjust top margin as needed for more space */
    }
  }
.col-md-6 {
    padding-top: 20px; /* Adjust the value according to your preference */
  }

</style>


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKQ5F65G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top header-transparent">
    <div class="container_new">

      <div class="logo float-left" style="height: max-content;">


        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/home"><img src="../img/logo_aero.png" alt="" style=" height: 5vh; width: 5vh;" class="img-fluid"></a>
      </div>



      <nav class="nav-menu float-right d-none d-lg-block ">

        <ul>
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/achievement">Achievement</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/vayurvya">Vayurvya</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join Us <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="https://chat.whatsapp.com/FxJah3YRcNlKcBUyrEoWlP" class="whatsapp-link">Aero Club Nitte</a></li>
      <li><a href="https://chat.whatsapp.com/JMdz3P5vWl31e6HPgweBZR" class="whatsapp-link">Aero Club Nitte Alumni</a></li>
    </ul>
  </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Team Section ======= -->
    <section class="breadcrumbs">
      <div class="container_new">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Team</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Our Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container_new">

        <div class="row">
          <!--
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/Aditya Salian.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/adithya-salian-60a903209"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Adithya Salian</h4>
                <span>Electrical and Electronics Engineering</span>

              </div>
            </div>
          </div>
          -->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/divyamshu (1).jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href=" https://www.linkedin.com/in/divyamshu-yn-82696324b/ "><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Divyamshu YN</h4>
                <span>Electrical and Electronics engineering</span>
                <span >President</span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/sharanya1.jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/sharanya-acharya-90a262264/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sharanya Acharya</h4>
                <span>Information Science Engineering</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/shruthi1.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/shruti-patil-4b0325264/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Shruti Patil</h4>
                <span>MECHANICAL ENGINEERING</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/tanvi.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/tanvi-n-shetty-21375a229/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Tanvi Shetty</h4>
                <span>ELECTRONICS AND COMMUNICATION engineering
                </span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/hardika (1).jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/hardhika-u-297262262/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Hardhika U</h4>
                <span>Biotechnology Engineering</span>

              </div>
            </div>
          </div>
           

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/sanketh.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/sanketh-k-k-59773722a/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sanketh K.K</h4>
                <span>Robotics and Artificial Intelligence</span>

              </div>
            </div>
          </div>
          

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/apurv (1).jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/apurv-pathak-63b929243/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Apurv Pathak</h4>
                <span>electronics and communication engineering</span>

              </div>
            </div>
          </div>
          





          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/abhiram (1).jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href=" https://www.linkedin.com/in/n-s-k-abhiram-439340226/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>N S K Abhiram</h4>
                <span>electronics and communication engineering</span>

              </div>
            </div>
          </div>
            
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/suhana (1).jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href=" https://www.linkedin.com/in/suhana-s-shetty-3b9a2021b/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Suhana S Shetty</h4>
                <span>COMPUTER AND COMMUNICATION ENGINEERING
                </span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/navraj.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/navaraj-shetty-86978b298/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Navraj D Shetty</h4>
                <span>COMPUTER SCIENCE AND ENGINEERING
                </span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/swathi.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href=" https://www.linkedin.com/in/swathi-g-r-239976249/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Swathi GR</h4>
                <span>electronics and communication engineering</span>

              </div>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/mithra.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/pannagesha-vishwa-mithra-949762252/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pannagesha Vishwa Mithra</h4>
                <span>MECHANICAL ENGINEERING</span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/Nishmitha.jpeg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href=" https://www.linkedin.com/in/nishmitha-pai-713b54208"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>K Nishmitha Pai</h4>
                <span>Mechanical Engineering</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/chinmaya.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/chinmaya-shyamaraj-176b19163"><i
                      class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Chinmaya Shyamaraj</h4>
                <span>Computer Science and Engineering</span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/padmashree2.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/pv-padmashree/"><i
                      class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Padmashree PV</h4>
                <span>ELECTRONICS AND COMMUNICATION engineering</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/Deeksha Bhat.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/deeksha-792250211"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Deeksha</h4>
                <span>Electrical and electronics engineering</span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/suchitra2.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/suchitra-pai-9a9466209/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Suchitra Pai</h4>
                <span>Biotechnology Engineering</span>

              </div>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/gagan1.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href=" https://www.linkedin.com/in/gagan-nayak-12922920b/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gagan Nayak</h4>
                <span>Computer science Engineering
                </span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/AditiAcharya.jpeg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/aditipraveenacharya/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Aditi Acharya</h4>
                <span>Artificial Intelligence and Machine Learning</span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/Nishmitha.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/nishmitha-bhandary-59065b221/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nishmitha</h4>
                <span>Artificial Intelligence and Machine Learning</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/rathan1.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/rathan-raj-0b2178229/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rathan Raj </h4>
                <span>Mechanical Engineering
                </span>

              </div>
            </div>
          </div>
        

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/Aditya Bhat1.jpeg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/aditi-bhat-850b56208"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Aditi Bhat</h4>
                <span>Artificial Intelligence and Machine Learning</span>

              </div>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/prateeksha.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/pratheeksha-nayak-49a24424a/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pratheeksha Nayak</h4>
                <span>INFORMATION SCIENCE ENGINEERING
                </span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/preksha.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/preksha-jain-7917bb256/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Preksha Jain</h4>
                <span>ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING
                </span>

              </div>
              
            </div>
          </div>


          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/ananthakrishna1.JPG" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/anantha-krishna-93590023a/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Anantha Krishna</h4>
                <span>Electronics and communication engineering</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/ranjith.jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/ranjith-r-bhandary-228015250/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ranjith R Bhandary</h4>
                <span>Robotics and Artificial Intelligence</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/sathwik.jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/sathvik-poojary-1126a3274/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sathwik Poojary</h4>
                <span>Robotics and Artificial Intelligence</span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/vachan.jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/vachan-narkodu-1805a324b/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Vachan Narkodu</h4>
                <span>MECHANICAL ENGINEERING
                </span>

              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/nidheesh.JPG" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/nidheesh-poojary-702333283/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nidheesh Poojary</h4>
                <span>Robotics and Artificial Intelligence</span>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/rithesh.jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/rithesh-shetty-37b62424b/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rithesh Shetty</h4>
                <span>Mechanical engineering</span>

              </div>
            </div>
          </div>

          
           
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/shravya.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/shravya-a-prabhu-4a2150247/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Shravya P</h4>
                <span>INFORMATION SCIENCE ENGINEERING
                </span>

              </div>
            </div>
          </div> 
          
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/manoj.jpg" style="height: 400px; width: 500px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/manoj-gowda-796022285"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Manoj Gowda</h4>
                <span>MECHANICAL ENGINEERING</span>

              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/DEEPA (1).jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/m-deepa-bhat-23822b275/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Deepa Bhat</h4>
                <span>MECHANICAL ENGINEERING</span>

              </div>
            </div>
          </div>

          
          


          


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/sanjana2.jpg" style="height: 400px; width: 500px;"  class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/sanjana-s-4780a5276/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sanjana S</h4>
                <span>INFORMATION SCIENCE ENGINEERING</span>

              </div>
            </div>
          </div>

          



         

          
      


          
    

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <footer id="footer" data-aos-duration="500">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Address</h2>
        <p>
          Aeroclub Nitte<br>
          NMAM Institute of Technology<br>
          3rd Floor Jnana Saudha<br>
          Karkala, Udupi<br>
          Karnataka<br>
          Pin Code - 574110<br>
          +91 9113589277
        </p>
      </div>

      <div class="col-md-6">
        <div class="text-md-right" style="margin-top: 30px;"> <!-- Adjust top margin as needed for more space -->
          <a href="https://www.facebook.com/aeroclubnitte/" class="facebook" style="color: white;"><i
              class="bx bxl-facebook bx-sm"></i> Facebook</a><br>
          <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"
            style="color: white;"><i class="bx bxl-instagram bx-sm"></i> Instagram</a><br>
          <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"
            style="color: white;"><i class="bx bxl-linkedin bx-sm"></i> LinkedIn</a><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          &copy; Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved |
          <a href="/privacy-policy" style="color: blue; text-decoration: underline;" target="_blank">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
  

  <!-- End Footer -->
<!-- Privacy Policy Pop-up -->
<div id="privacyPolicyPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePrivacyPolicyPopup()">&times;</span>
        <h2>Privacy Policy</h2>
        <p><strong>Effective Date:</strong> 13-01-2024</p>
        <p>
            At Aeroclub Nitte, we are committed to protecting your privacy and ensuring the security of your personal information.
            This Privacy Policy outlines how we collect, use, share, and safeguard the information you provide using our website.
        </p><br>
        <h3>Information We Collect:</h3>
        <p>
            When you visit our website or engage with us, we may collect the following types of information:
        </p>
        <ul>
            <li><strong>Personal Information:</strong> Name, contact information (email address, phone number), and any other information you voluntarily provide.</li>
            <li><strong>Usage Information:</strong> We may collect information about how you interact with our website, including IP addresses, browser types, and browsing patterns.</li>
        </ul>
<br>
        <h3>How We Use Your Information:</h3>
        <p>
            We will use the information we collect for the following purposes:
        </p>
        <ul>
            <li>To contact you about our events and activities.</li>
            <li>To improve our website and enhance user experience.</li>
            <li>To communicate with you regarding updates, newsletters, and other relevant information.</li>
        </ul>
<br>
        <h3>Sharing Your Information:</h3>
        <p>
            We may share your information with our partners, who may contact you about their products and services. However, we will not sell, trade, or rent your personal information to third parties for marketing purposes.
        </p>
<br>
        <h3>Your Consent:</h3>
        <p>
            By providing your information to Aeroclub Nitte, you consent to collecting, using, and sharing your information as described in this Privacy Policy.
        </p>
<br>
        <h3>Security:</h3>
        <p>
            We take reasonable measures to protect the information you provide to us from unauthorized access or disclosure. However, no data transmission over the Internet can be guaranteed to be completely secure, and we cannot ensure or warrant the security of any information you transmit to us.
        </p>
<br>
        <h3>Your Choices:</h3>
        <p>
            You can opt out of receiving communications from us or our partners. If you wish, please contact us at aeroclubnitte@nmamit.in
        </p>
<br>
        <h3>Changes to the Privacy Policy:</h3>
        <p>
            We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date.
        </p>
<br>
        <h3>Contact Us:</h3>
        <p>
            If you have any questions or concerns about our Privacy Policy, please contact us at aeroclubnitte@nmamit.in.
        </p>
<br>
        <p>
            Thank you for trusting Aeroclub Nitte with your information. We are dedicated to maintaining your privacy and providing a secure and enjoyable online experience.
        </p>
  <br>      
       
    </div>
</div>

<!-- JavaScript code for the privacy policy pop-up functionality -->
<script>
    // Function to open the privacy policy pop-up
    function openPrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'block';
    }

    // Function to close the privacy policy pop-up
    function closePrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'none';
    }
</script>


  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../vendor/counterup/counterup.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>
