<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKQ5F65G');</script>
<!-- End Google Tag Manager -->

  <title>Aero Club Nitte</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo_aero.png" rel="icon">
  <link href="../img/logo_aero.png" rel="logo_aero">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
<style>
.whatsapp-link {
  color: #45ff64 !important;
}
/* Pop-up styles */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
      /* Ensure the entire pop-up is scrollable */
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 800px;
      max-height: 80vh;
      /* Set a maximum height for the content */
      overflow-y: auto;
      /* Make the content scrollable */
    }

    .popup h2 {
      color: #333;
    }

    .popup p {
      color: #4e79a4;
    }

    .popup ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .popup button {
      background-color: #333;
      color: #2676c2cb;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button:hover {
      background-color: #7499b5;
    }

    /* Close button style */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #555555;
      cursor: pointer;
    }

    .close:hover {
      color: #4e3333;
    }
      /* Navbar styles */
      .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008cba; /* Navbar background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: sticky; /* Makes the navbar sticky */
    top: 0; /* Stick to the top of the page */
    z-index: 1000; /* Ensure it stays above other elements */
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(26, 32, 220);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.navbar li a:hover {
    background-color: #005f73; /* Darker blue on hover */
    transform: scale(1.1); /* Slight zoom-in effect */
}


/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #008cba;
    color: white;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #005f73;
}

@media (max-width: 1200px) {
    .team-container {
        grid-template-columns: repeat(4, 1fr); /* 4 member3s per row on medium screens */
    }
}

@media (max-width: 768px) {
    .team-container {
        grid-template-columns: repeat(2, 1fr); /* 2 member3s per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .team-container {
        grid-template-columns: 1fr; /* 1 member3 per row on very small screens */
    }
}

.col-md-6 {
    padding-top: 20px; /* Adjust the value according to your preference */
}
html {
          scroll-behavior: smooth;
          }

   
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        
        /* Wrapper for background image and content */
        .background-wrapper 
        {
            position: relative;
            background-image: url('../img/team/coreteamFinal.png');
            background-size: cover;
            background-position: center;
            height: 100vh; /* Adjust height as needed */
        }
        
        /* Semi-transparent overlay */
        .background-wrapper::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg, rgba(206, 209, 209, 0), rgba(11, 84, 221, 0)); /* Adjust colors and opacity */
            z-index: 1;
        }
        .background-wrapper > * {
           position: relative;
            z-index: 2;
          }
        /* Content on top of the background */
        .content {
            position: relative;
            z-index: 2;
            color: rgba(38, 38, 174, 0.649); /* Text color */
            padding: 20px;
            text-align: center;
        }
        .team-section {
    text-align: center;
    padding: 10px;
}

.team-container {
    background-color: #B0E0E6; /* Powder blue background behind the cards */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Dynamic columns */
    gap: 10px;
    padding: 10px;
    justify-content: center; /* Ensures the grid is centered */
}



.team-card {
    
    background-color: #83c2e152; /* Powder blue */
    border-radius: 20px; /* Rounds the corners of the card */
    padding: 20px; /* Adds space inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* Light shadow for 3D effect */
    text-align: center; /* Centers text inside the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation on hover for scaling and shadow */
    position: auto; /* Position relative to allow for absolute positioning inside */
    width: 90%; /* Ensures the card takes up full width of its grid column */
    min-height: 200px; /* Ensures that all cards have at least this height */
    padding: 30px;
    display: flex; /* Flexbox for inner alignment */
    flex-direction: column; /* Align content vertically */
    justify-content: space-between; /* Distributes content evenly inside the card */
    margin-left: auto;
    margin-right: auto;
}


.member3-img {
    overflow: hidden; /* Ensures the image doesn't overflow outside the container */
    border-radius: 50%; /* Makes the image container circular */
    width: 150px; /* Sets the width of the image container */
    height: 150px; /* Sets the height of the image container */
    margin: 0 auto 20px; /* Centers the image container and adds 20px space below it */
}

.member3-img img {
    border: none; /* Ensure no border is added around the image */
    width: 100%; /* Makes the image fit the container's width */
    height: 100%; /* Makes the image fit the container's height */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    transition: transform 0.3s ease; /* Smooth zoom effect on hover */
}


.team-card:hover {
    transform: scale(1.09); /* Slightly enlarges the card on hover */
    box-shadow: 0 8px 16px rgba(10, 37, 145, 0.908); /* Darker shadow for a raised effect on hover */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the card */
}

  


.team-card:hover .member3-img img {
    transform: scale(1.2); /* Slight zoom-in effect on the image when hovered */
}

.member3-info h4 {
    font-size: 1.5em; /* Increases the font size of the member3's name */
    margin-bottom: 10px; /* Adds space below the name */
}

.member3-info .span {
    color: #ff6600; /* Orange color for the role text */
    margin-bottom: 5px; /* Adds space below the role text */
    font-weight: bold; /* Makes the role text bold */
}

.member3-info p {
    color: #044fdbd6; /* Dark gray color for the text */
}

.social-icons a {
    color: #333; /* Dark color for the social media icons */
    margin: 0 10px; /* Adds space of 10px to the left and right of each icon */
    font-size: 1.2em; /* Increases the size of the social media icons */
    transition: color 0.3s ease; /* Smooth transition when changing the icon color on hover */
}

.social-icons a:hover {
    color: #043fb4; /* Changes the icon color to orange on hover */
    
}

.outer-box {
  background-color: #2f98d1d9; /* Powder blue */
}
    </style>
</head>

<body>
  
  <div class="background-wrapper">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKQ5F65G"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
           <!-- ======= Header ======= -->
           <header id="header" class="fixed-top header-transparent">
            <div class="container_new2">
        
              <div class="logo float-left" style="height: max-content;">
        
        
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="/home"><img src="../img/logo_aero.png" alt="" style=" height: 90px; width: 85px;" class="img-fluid"></a>
              </div>
        
        
        
              <nav class="nav-menu float-right d-none d-lg-block ">
        
                <ul>
                  <li class="active"><a href="/home">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/events">Events</a></li> 
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achievements <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/achievement#2024" class="whatsapp-link">2024</a></li>
                      <li><a href="/achievement#2023" class="whatsapp-link">2023</a></li>
                      <li><a href="/achievement#2022" class="whatsapp-link">2022</a></li>
                      <li><a href="/achievement#2019" class="whatsapp-link">2019</a></li>
                      <li><a href="/achievement#2018" class="whatsapp-link">2018</a></li>
                    </ul>
                  </li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Team<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a href="/team#2020-24BATCH">2020-24 BATCH</a>
                        <a href="/team#2021-25BATCH">2021-25 BATCH</a>
                        <a href="/team#2022-26BATCH">2022-26 BATCH</a>
                        <a href="/team#2023-27BATCH">2023-27 BATCH</a>
                    </div>
                </li>
                
                
                
                  <li><a href="/contact">Contact Us</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://chat.whatsapp.com/FxJah3YRcNlKcBUyrEoWlP" class="whatsapp-link">Aero Club Nitte</a>
                      </li>
                      <li><a href="https://chat.whatsapp.com/JMdz3P5vWl31e6HPgweBZR" class="whatsapp-link">Aero Club Nitte
                          Alumni</a></li>
                    </ul>
                  </li>
                </ul>
              </nav><!-- .nav-menu -->
        
            </div>
          </header><!-- End Header -->
        
         
            
            <!-- ======= Our Team Section ======= -->
           
            </section><!-- End Our Team Section -->
    </div>
     <!-- ======= Team Section ======= -->
     <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="outer-box"">  <div class="container_new">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>

        <div class="container_new" id="2022-26BATCH" >
        <center><h2>2022-26 BATCH</h2></center></div>
        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="team-card member3">
                <div class="member3-img">
                    <img src="../img/team/Rithesh Shetty-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
                </div>
                <div class="member3-info">
                    <h4>Rithesh Shetty</h4>
                    <p class="role">President</p>
                    <span>Mechanical Engineering</span>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/rithesh-shetty-37b62424b/"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="team-card member3">
              <div class="member3-img">
                  <img src="../img/team/Anantha Krishna-24.pnG" style="height: 150px; width: 150px;" class="img-fluid" alt="">
              </div>
              <div class="member3-info">
                  <h4>Anantha Krishna</h4>
                  <p class="role">Software Head</p>
                  <span>Electronics and communication Engineering</span>
                  <div class="social-icons">
                      <a href="https://www.linkedin.com/in/anantha-krishna-93590023a/"><i class="icofont-linkedin"></i></a>
                      <!--<a href="https://www.instagram.com/anantha_krishna_404/"><i class="icofont-instagram"></i></a>-->

                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="team-card member3">
            <div class="member3-img">
                <img src="../img/team/Pratheeksha Nayak-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
            </div>
            <div class="member3-info">
                <h4>Pratheeksha Nayak</h4>
                <p class="role">Social Media Head</p>
                <span>INFORMATION SCIENCE ENGINEERING</span>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/pratheeksha-nayak-49a24424a/"><i class="icofont-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Ranjith R Bhandary-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Ranjith R Bhandary</h4>
              <p class="role">Inventory, Competition in-charge Head</p>
              <span>Robotics and Artificial Intelligence</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/ranjith-r-bhandary-228015250/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Sathvik Poojary-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Sathwik Poojary</h4>
            <p class="role">Tools and Workshop Head, Competition in-charge</p>
            <span>Robotics and Artificial Intelligence</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/sathvik-poojary-1126a3274/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="team-card member3">
      <div class="member3-img">
          <img src="../img/team/Vachan Narkodu-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
      </div>
      <div class="member3-info">
          <h4>Vachan Narkodu</h4>
          <p class="role">Inventory Head</p>
          <span>Mechanical Engineering</span>
          <div class="social-icons">
              <a href="https://www.linkedin.com/in/vachan-narkodu-1805a324b/"><i class="icofont-linkedin"></i></a>
          </div>
      </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="team-card member3">
      <div class="member3-img">
          <img src="../img/team/Nidheesh-24.pnG" style="height: 150px; width: 150px;" class="img-fluid" alt="">
      </div>
      <div class="member3-info">
          <h4>Nidheesh Poojary</h4>
          <p class="role">Tools and Workshop Head</p>
          <span>Robotics and Artificial Intelligence</span>
          <div class="social-icons">
              <a href="https://www.linkedin.com/in/nidheesh-poojary-702333283/"><i class="icofont-linkedin"></i></a>
          </div>
      </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="team-card member3">
      <div class="member3-img">
          <img src="../img/team/Shravya A Prabhu-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
      </div>
      <div class="member3-info">
          <h4>Shravya P</h4>
          <p class="role">Documentation Head</p>
          <span>INFORMATION SCIENCE ENGINEERING</span>
          <div class="social-icons">
              <a href="https://www.linkedin.com/in/shravya-a-prabhu-4a2150247/"><i class="icofont-linkedin"></i></a>
          </div>
      </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="team-card member3">
      <div class="member3-img">
          <img src="../img/team/Manoj Gowda-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
      </div>
      <div class="member3-info">
          <h4>Manoj Gowda</h4>
          <p class="role">Finance Head</p>
          <span>MECHANICAL ENGINEERING</span>
          <div class="social-icons">
              <a href="https://www.linkedin.com/in/manoj-gowda-796022285/"><i class="icofont-linkedin"></i></a>
          </div>
      </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="team-card member3">
      <div class="member3-img">
          <img src="../img/team/M Deepa Bhat-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
      </div>
      <div class="member3-info">
          <h4>Deepa Bhat</h4>
          <p class="role">Finance Head</p>
          <span>MECHANICAL ENGINEERING</span>
          <div class="social-icons">
              <a href="https://www.linkedin.com/in/m-deepa-bhat-23822b275/"><i class="icofont-linkedin"></i></a>
          </div>
      </div>
  </div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="team-card member3">
      <div class="member3-img">
          <img src="../img/team/Sanjana S-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
      </div>
      <div class="member3-info">
          <h4>Sanjana S</h4>
          <p class="role">Recruitment Head</p>
          <span>INFORMATION SCIENCE ENGINEERING</span>
          <div class="social-icons">
              <a href="https://www.linkedin.com/in/sanjana-s-4780a5276/"><i class="icofont-linkedin"></i></a>
          </div>
      </div>
  </div>
</div>

 <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/amritha.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Amritha K</h4>
            <span>ELECTRONICS and COMMUNICATION ENGINEERING</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/amritha-k-poojari-62559524b/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
  </div> -->

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
  <div class="team-card member3">
      <div class="member3-img">
          <img src="../img/team/J Juvita Joshma-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
      </div>
      <div class="member3-info">
          <h4>J Juvita Joshma</h4>
          <span>ELECTRONICS and COMMUNICATION ENGINEERING</span>
          <div class="social-icons">
              <a href="https://www.linkedin.com/in/juvita-joshma-802363289/"><i class="icofont-linkedin"></i></a>
          </div>
      </div>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>
<div class="container_new" id="2023-27BATCH" >
  <center><h2>2023-27 BATCH</h2></center></div>
  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Gagandeep Kayara Gangadhara-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Gagandeep Kayara Gangadhara</h4>
              <p class="role">Vice-President</p>
              <span>MECHANICAL ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/juvita-joshma-802363289/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Shreyas-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Shreyas</h4>
              <span>ROBOTICS and ARTIFICIAL INTELLIGENCE</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/shreyas-210782309/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Meghraj M-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Meghraj M</h4>
              <span>ELECTRONICS and COMMUNICATION Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/meghraj-m-04713a28b/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Samruddha S Aithal-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Samruddh S Aithal</h4>
              <span>ELECTRONICS and COMMUNICATION Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/samruddha-aithal-bb1549314/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Sampanna-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Sampanna Shetty</h4>
              <span>ARTIFICIAL INTELLIGENCE and MACHINE LEARNING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/sampanna-shetty-0299b2287/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Sujan S-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Sujan S</h4>
              <span>COMPUTER SCIENCE and ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/sujan-s-74b61b288/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Aneesh Prabhu-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Aneesh Prabhu</h4>
              <span>ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/aneesh-prabhu-5720422a7/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Shainil S Shetty-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Shainil S Shetty</h4>
              <span>MECHANICAL ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/shainil-s-shetty-0a810927b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Vinayak Prabhu-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Vinayak Prabhu</h4>
              <span>ELECTRONICS VLSI DESIGN AND TECHNOLOGY</span>
              <div class="social-icons">
                  <a href="https://in.linkedin.com/in/vinayak-prabhu-9365ab28b"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Prajwal B T-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Prajwal Badiwana</h4>
              <span>INFORMATION SCIENCE ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/meghraj-m-04713a28b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Vinod S Shanbogue-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Vinod Shanbouge</h4>
              <span>ELECTRONICS and COMMUNICATION ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/vinod-s-shanbogue-268250320?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Nishanth Prabhu-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Nishanth</h4>
              <span>ELECTRONICS and COMMUNICATION ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/nishanthprabhunishanth?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Abhijna Laxmi-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Abhijna</h4>
              <span>ELECTRONICS VLSI DESIGN AND TECHNOLOGY</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/abhijna-laxmi-659143298?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Harshitha P Salian-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Harshitha P Salian</h4>
              <span>INFORMATION SCIENCE ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/harshitha-p-s-163574288?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Sangeetha J-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Sangeetha</h4>
              <span>COMPUTER SCIENCE (FULL STACK DEVELOPMENT) ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/sangeetha-j-940549294?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Daivik Shetty-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Daivik</h4>
              <span>MECHANICAL ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/daivik-shetty-0a2009284?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Shishir D-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Shishir D</h4>
              <span>COMPUTER SCIENCE ENGINEERING</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/shishir-d-85219a28b"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/shashank.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Shashank</h4>
              <span>ELECTRONICS VLSI DESIGN AND TECHNOLOGY</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/shashank-c-h-009713283?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>-->
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/bhanushankar.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Bhanushankar</h4>
            <span>ELECTRONICS VLSI DESIGN AND TECHNOLOGY</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/bhanushankar-ganapati-bhat-535856296?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Vasavi Joshi-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Vassavi Joshi</h4>
            <span>Computer and Communication ENGINEERING</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/vasavi-joshi-9298b1290"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Srinidhi D S-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Srinidhi</h4>
            <span>Information Science ENGINEERING</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/srinidhids?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Chinmay Kulkarni-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Chinmay K</h4>
            <span>ELECTRONICS and COMMUNICATION ENGINEERING</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/chinmay-kulkarni-6873b62b3?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Prashith R Shetty-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Prashith Shetty</h4>
            <span>Computer Science and Engineering (CyberSecurity)</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/posts/prashith-shetty-a91508244_cyberinsight-cybersecurity-proton-activity-7238143150706282496-BZlo?utm_source=share&utm_medium=member3_android"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Bhoomika-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Bhoomika</h4>
            <span>ELECTRONICS and COMMUNICATION ENGINEERING</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/bhoomika-paradkar-a14b41306?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Abhyudaya J-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Abhyudaya J</h4>
            <span>Computer Science and ENGINEERING</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/abhyudaya-j-acharya-ab0307280/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>
<div class="container_new" id="2021-25BATCH"> <center><h2>2021-25 BATCH</h2></center></div> 
<div class="row">
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Divyamshu-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Divyamshu YN</h4>
            <span>Electrical and Electronics Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/divyamshu-yn-82696324b/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Sharanya-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Sharanya Acharya</h4>
            <span>Information Science Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/sharanya-acharya-90a262264/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Hardhika-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Hardhika U</h4>
            <span>Biotechnology Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/hardhika-u-297262262/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Sanketh-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Sanketh K.K</h4>
            <span>Robotics and Artificial Intelligence</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/sanketh-k-k-59773722a/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Abhiram-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>N S K Abhiram</h4>
            <span>Electronics and Communication Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/n-s-k-abhiram-439340226/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Suhana S Shetty-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Suhana S Shetty</h4>
            <span>Computer and Communication Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/suhana-s-shetty-3b9a2021b/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Navraj-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Navraj D Shetty</h4>
            <span>Computer Science and Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/navaraj-shetty-86978b298/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/P V Mithra-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Pannagesha Vishwa Mithra</h4>
            <span>Mechanical Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/pannagesha-vishwa-mithra-949762252/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="team-card member3">
        <div class="member3-img">
            <img src="../img/team/Pradeep-24.png" style="height: 150px; width: 150px;" class="img-fluid" alt="">
        </div>
        <div class="member3-info">
            <h4>Pradeep B</h4>
            <span>Electronics and Communication Engineering</span>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/pradeep-b-jakkanagoudra-87a64b22a/"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>

<div class="container_new" id="2020-24BATCH">
  <center><h2>2020-24 BATCH</h2></center></div>
  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Nishmitha.jpeg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>K Nishmitha Pai</h4>
              <span>Mechanical Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/nishmitha-pai-713b54208"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/chinmaya.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Chinmaya Shyamaraj</h4>
              <span>Computer Science and Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/chinmaya-shyamaraj-176b19163"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/padmashree2.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Padmashree PV</h4>
              <span>Electronics and Communication Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/pv-padmashree/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Deeksha Bhat2.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Deeksha</h4>
              <span>Electrical and Electronics Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/deeksha-792250211"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/suchitra3.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Suchitra Pai</h4>
              <span>Biotechnology Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/suchitra-pai-9a9466209/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/gagan24.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Gagan Nayak</h4>
              <span>Computer Science Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/gagan-nayak-12922920b/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/AditiAcharya.jpeg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Aditi Acharya</h4>
              <span>Artificial Intelligence and Machine Learning</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/aditipraveenacharya/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Nishmitha.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Nishmitha</h4>
              <span>Artificial Intelligence and Machine Learning</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/nishmitha-bhandary-59065b221/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/rathan1.jpg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Rathan Raj</h4>
              <span>Mechanical Engineering</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/rathan-raj-0b2178229/"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="team-card member3">
          <div class="member3-img">
              <img src="../img/team/Aditya Bhat1.jpeg" style="height: 150px; width: 150px;" class="img-fluid" alt="">
          </div>
          <div class="member3-info">
              <h4>Aditi Bhat</h4>
              <span>Artificial Intelligence and Machine Learning</span>
              <div class="social-icons">
                  <a href="https://www.linkedin.com/in/aditi-bhat-850b56208"><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>

<!-- Teamwork Quote Section -->
<div class="col-lg-12 d-flex align-items-stretch justify-content-center">
    <div style="border: 2px solid rgba(0, 0, 0, 0.05); padding: 20px; max-width: 800px; text-align: center; background-color: rgba(225, 229, 233, 0.47);">
      <h5 style="font-weight: bold; background: linear-gradient(to right, #0212f4, #07ece9); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;">"Coming together is a beginning, Keeping together is progress, Working together is success." 

      </h5>
    </div>
  </div>
  
<div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>




              </div>
            </div>
          </div>

        </div>

      </div>
      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <footer id="footer" data-aos-duration="500">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Address</h2>
        <p>
          Aeroclub Nitte<br>
          NMAM Institute of Technology<br>
          3rd Floor Jnana Saudha<br>
          Karkala, Udupi<br>
          Karnataka<br>
          Pin Code - 574110<br>
          +91 9113589277
        </p>
      </div>

      <div class="col-md-6">
        <div class="text-md-right" style="margin-top: 30px;"> <!-- Adjust top margin as needed for more space -->
          <a href="https://www.facebook.com/aeroclubnitte/" class="facebook" style="color: white;"><i
              class="bx bxl-facebook bx-sm"></i> Facebook</a><br>
          <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"
            style="color: white;"><i class="bx bxl-instagram bx-sm"></i> Instagram</a><br>
          <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"
            style="color: white;"><i class="bx bxl-linkedin bx-sm"></i> LinkedIn</a><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          &copy; Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved |
          <a href="/privacy-policy" style="color: blue; text-decoration: underline;" target="_blank">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
  

  <!-- End Footer -->
<!-- Privacy Policy Pop-up -->
<div id="privacyPolicyPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePrivacyPolicyPopup()">&times;</span>
        <h2>Privacy Policy</h2>
        <p><strong>Effective Date:</strong> 13-01-2024</p>
        <p>
            At Aeroclub Nitte, we are committed to protecting your privacy and ensuring the security of your personal information.
            This Privacy Policy outlines how we collect, use, share, and safeguard the information you provide using our website.
        </p><br>
        <h3>Information We Collect:</h3>
        <p>
            When you visit our website or engage with us, we may collect the following types of information:
        </p>
        <ul>
            <li><strong>Personal Information:</strong> Name, contact information (email address, phone number), and any other information you voluntarily provide.</li>
            <li><strong>Usage Information:</strong> We may collect information about how you interact with our website, including IP addresses, browser types, and browsing patterns.</li>
        </ul>
<br>
        <h3>How We Use Your Information:</h3>
        <p>
            We will use the information we collect for the following purposes:
        </p>
        <ul>
            <li>To contact you about our events and activities.</li>
            <li>To improve our website and enhance user experience.</li>
            <li>To communicate with you regarding updates, newsletters, and other relevant information.</li>
        </ul>
<br>
        <h3>Sharing Your Information:</h3>
        <p>
            We may share your information with our partners, who may contact you about their products and services. However, we will not sell, trade, or rent your personal information to third parties for marketing purposes.
        </p>
<br>
        <h3>Your Consent:</h3>
        <p>
            By providing your information to Aeroclub Nitte, you consent to collecting, using, and sharing your information as described in this Privacy Policy.
        </p>
<br>
        <h3>Security:</h3>
        <p>
            We take reasonable measures to protect the information you provide to us from unauthorized access or disclosure. However, no data transmission over the Internet can be guaranteed to be completely secure, and we cannot ensure or warrant the security of any information you transmit to us.
        </p>
<br>
        <h3>Your Choices:</h3>
        <p>
            You can opt out of receiving communications from us or our partners. If you wish, please contact us at aeroclubnitte@nmamit.in
        </p>
<br>
        <h3>Changes to the Privacy Policy:</h3>
        <p>
            We may update this Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date.
        </p>
<br>
        <h3>Contact Us:</h3>
        <p>
            If you have any questions or concerns about our Privacy Policy, please contact us at aeroclubnitte@nmamit.in.
        </p>
<br>
        <p>
            Thank you for trusting Aeroclub Nitte with your information. We are dedicated to maintaining your privacy and providing a secure and enjoyable online experience.
        </p>
  <br>      
       
    </div>
</div>

<!-- JavaScript code for the privacy policy pop-up functionality -->
<script>
    // Function to open the privacy policy pop-up
    function openPrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'block';
    }

    // Function to close the privacy policy pop-up
    function closePrivacyPolicyPopup() {
        document.getElementById('privacyPolicyPopup').style.display = 'none';
    }
</script>
<script>document.getElementById('teamDropdown').addEventListener('click', function(event) {
    event.preventDefault();
    document.querySelector('#team').scrollIntoView({ 
        behavior: 'smooth' 
    });
});
</script>
<script>
    window.addEventListener('scroll', function() {
    var logo = document.getElementById('logo');
    if (window.scrollY > 100) { // Show the logo when scrolled 100px
        logo.style.display = 'block';
        logo.style.opacity = 1; // Make sure it's visible
    } else {
        logo.style.display = 'none';
        logo.style.opacity = 0; // Hide it when not scrolled enough
    }
    });
</script>


  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../vendor/counterup/counterup.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>
</html>
